[2014-01-09 21:54] gdreynolds opened #1 "Image sequnce import defaults to z-stack"
All files imported via "image sequence import" are interpreted as z stacks instead of T stacks. (i.e. a 50 frame time acquisition is interpreted as a 50 slice z-stack)

[2014-01-09 22:01] gdreynolds opened #2 "Preview calculations under "Settings for Detector" pane do not stop"
Trackmate does not cease "Detection..." processes started by clicking Preview in "Settings for Detector: LoG" window do not cease after clicking the back arrow. (As determined by ongoing CPU utilization).

[2014-01-09 22:18] gdreynolds opened #3 "Circles indicating segmentation do not appear during parameter input"
After initial detection, magenta circles showing segmentation are not present at the "Initial thresholding" window. v2.1.0

![screen](https://f.cloud.github.com/assets/6363558/1882816/c8233a1e-797b-11e3-952b-b693c5e3368c.jpg)

[2014-01-09 22:27] gdreynolds opened #4 "Circles indicating segmented spots do not reflect foci size"
Circles drawn by trackmate to indicate segmented spots/foci are of a uniform size which does not reflect the diameter/radius of the underlying spot. v.2.1.0

[2014-01-09 22:34] dscho opened #5 "How about showing the detected blobs with the estimated diameter as radius?"
We should probably make this one optional and let the user choose the mode in the options dialog (which appears when double-clicking the tool icon) -- and maybe also let the user choose the color coding there?

[2014-01-09 23:00] dscho opened #6 "Populate the TrackMate-dev update site from this repository"
Now that we have a separate TrackMate repository and [a Jenkins job continuously building and deploying the newest revision](http://jenkins.imagej.net/job/TrackMate/), let's have [another Jenkins job](http://jenkins.imagej.net/job/TrackMate-dev-update-site/) that uploads the newest artifacts to [the TrackMate-dev update site](http://sites.imagej.net/TrackMate-dev/) as soon as the former Jenkins jo

[2014-01-10 07:59] #4 closed, assigned to nobody

[2014-01-10 08:04] #2 closed, assigned to nobody

[2014-01-10 08:06] #3 closed, assigned to nobody

[2014-01-10 20:13] tinevez opened #8 "Create a LAP solver based on Jonker-Volgenant algorithm."
For large problems with the current implementation (Munkres & friends), the limiting factor is actually the memory taken by the cost matrix, which is huge. If you want to permit fusion and merge events, you end up having a NxN matrix where N is the number of spots in the whole movie.

A sparse matrix implementation - or similar - would be very beneficial. Lee Kemensky pointed us to his implementat

[2014-01-10 20:19] tinevez opened #9 "Create a tracker that can deal with linear motion."
Current trackers can deal at best with brownian motion (costs are based on square distance). They succeed on transported particles, but by chance.
A linear motion is met often enough in Life Science for such a tracker to be important.

[2014-01-13 21:43] #1 closed, assigned to dscho

[2014-01-22 17:18] #8 closed, assigned to nobody

[2014-01-22 17:20] #6 closed, assigned to dscho

[2014-01-22 18:07] tinevez opened #14 "Implement the sparse version of Jonkert-Volgenant solver."

[2014-03-07 15:13] tinevez opened #15 "Import Imaris tracks in TrackMate."
The Imaris v5.5 file format is based on HDF.
It can be opened and browsed with a HDF tool, and the section containing tracking results (or spot detection results) are well identified. It would be cool if we would have a tool to import
1. the spots as TrackMate spots;
2. if they are available, edges;
3. ideally the image data as well if the user asks for it.

1 & 2 are not too hard actually, but we

[2014-03-07 15:15] tinevez opened #16 "Import ICY tracks in TrackMate."
I had a fruitful exchange with Fabrice De Chaumont on how to generate a TrackMate exporter for the ICY track manager.

We could do the converse and build an importer that can load a XML issued from ICY track manager into TrackMate.

[2014-03-10 10:08] dscho opened #18 "Preview automatically, for the current frame only"
It would most likely be a good idea to have the preview be a check box (defaulting to checked when operating on reasonably-sized input) that calculates the segmentations on the current frame only.

To keep the implementation simply, let's not reuse the previewed segmentations in the final run.

[2014-03-12 09:24] hadim opened #19 "Documentation missing"
Hi,

I wonder to know where I can find the javadoc ? I can't find it on Jenkins and the links from http://fiji.sc/Scripting_TrackMate are out of date.

Do I have to build it myself locally ?

Thank you !

[2014-03-20 21:15] gdreynolds opened #20 "Additional Histogram Variable"
Hi all-

v2.2.0 is looking great! I have a suggestion for an additional parameter for the 'Tracks' tab of the Analysis / Plot Features page. For my work, it would be extremely helpful to plot the number of tracks as a function of track lifetime. (i.e. 50 tracks fall in the 0-5 second track-lifetine bin, 25 tracks fall in the 5-10 second bin, and so on). Scaling the x axis / number of bins would al

[2014-04-09 19:25] dscho opened #24 "Offer pre-processing before detecting the spots"
A simple background subtraction with radius 100 already works wonders for detecting the spots in one of our use cases. Of course, this should be only applied for the _detection_ phase, but not play into the attributes such as mean intensity.

[2014-04-09 21:16] gdreynolds opened #25 "Track Filtering Revisions"
A few ideas came up during a meeting with @dscho

1) Implement a track filtering parameter "track quality", calculated as the average quality of all spots in that track.

2) Implement a track filtering parameter "gap maximum", the largest gap (by # of frames) included in any given track.

3) Implement some sort of dynamically updating histogram that reflects all of the filters added in the track f

[2014-04-17 23:15] #19 closed, assigned to dscho

[2014-04-28 13:59] jonathan-fouchard opened #28 "Problem locale confusion coma and dot in french settings"
Hello all,

I noticed an issue with the locale settings in french. The numbers in dimension appear with a coma in the calibration settings instead of a dot. This make the spot detection impossible.
The only way to solve the issue is to change the system language to english and rebooting.

Jonathan

[2014-04-29 14:22] hadim opened #29 "Unable to save XML"
See the error below

[code]

and trackmate logs:

[code]

Thank you

[2014-05-02 18:02] #16 closed, assigned to nobody

[2014-05-05 09:51] jonathan-fouchard opened #30 "Analysis tables not appearing"
Hello,

I noticed a bug regarding the analysis tables. When we click on the Analysis button, the tables do not appear when :
- the user click on the Scheme button before to click on Analysis
- the user click on the Next button and plot features on the new window before to go back and do the Analysis.

This is very frustrating since, when that happens, the user have to redo all the detection & trac

[2014-05-05 19:25] #28 closed, assigned to nobody

[2014-05-06 21:13] #29 closed, assigned to tinevez

[2014-05-17 00:35] dscho opened #31 "Problems after most recent pom-fiji update"
Sorry, @tinevez, I am afraid I broke things rather badly: http://jenkins.imagej.net/view/Failing/job/TrackMate/. Will fix tomorrow! It's most likely some subtle issue with the recent scijava-common updates, or maybe even with ImageJ 1.x.

[2014-05-17 14:18] #31 closed, assigned to dscho

[2014-06-16 18:38] ctrueden opened #33 "TrackScheme does not let you create links"
From a mail from Erik Meijering:

Migrated-From: http://fiji.sc/bugzilla/show_bug.cgi?id=736

[2014-06-17 11:37] #33 closed, assigned to tinevez

[2014-07-18 14:51] #14 closed, assigned to dscho

[2014-07-18 14:54] tinevez opened #38 "Build a LAP tracker that uses the sparse version of the JV algorithm."
Now that we have a nice sparse Jonker-Volgenant algorithm, we need to build a TrackMate tracker module that exploits it.

Since the existing interfaces only deal with non-sparse matrix, quite some writing will be involved.

[2014-08-11 21:11] tinevez opened #44 "What tracker to pick as a default for v2.5.0?"
Dear @dscho and developers
Quick discussion, linked to backward compatibility.

There is now two main tracker framework in TrackMate core, both being stripped down version of Khulud Jaqaman LAP framework. The first one was originated by Nick and uses a <code>double[][]</code> cost matrix. Then it uses your (@dscho) Jonker Volgenant solver to get assignment.

The caveat is that if you allow for tra

[2014-08-12 13:16] #38 closed, assigned to tinevez

[2014-08-18 14:50] #44 closed, assigned to nobody

[2014-08-20 11:29] tepheikk opened #46 "XML export does not work"
If file does not exist in filesystem, file saving dialog does not open. This happens when animation that is tracked with TrackMate is not actually saved in filesystem but is a product of something else (like stiching)

Easies way to reproduce the problem is

1) file->open samples->tracks for trackmate
2) image->duplicate->check duplicate stack and use whole range->ok
3) close the original file
4)

[2014-08-26 09:04] #30 closed, assigned to tinevez

[2014-08-26 11:11] hadim opened #48 "Trackmate keeps previous image files as suggested filename when saving xml"
Steps to reproduce:
- open image1.tif
- open trackmate
- do detection
- click save button just after detection and spots overlay (I don't use tracking)
- default xml file is image1.xml in the image1.tif folder (so far so good)
- close trackmate window and image1.tif
- open image2.tif
- open trackmate
- do detection
- click save button just after detection and spots overlay (I don't use tracking)
-

[2014-08-26 11:43] #48 closed, assigned to tinevez

[2014-08-30 08:18] tinevez opened #50 "On windows, the TrackScheme toolbar does not look so good."
![screenshot](https://cloud.githubusercontent.com/assets/3583203/4098422/42527102-301e-11e4-961c-cc11319adba8.png)

[2014-09-02 11:23] #25 closed, assigned to nobody

[2014-09-02 11:24] #5 closed, assigned to dscho

[2014-09-02 11:25] #20 closed, assigned to dscho

[2014-09-02 12:16] #18 closed, assigned to dscho

[2014-09-15 12:02] #46 closed, assigned to tinevez

[2014-11-06 16:04] tinevez opened #53 "TrackMate depends on deprecated classes."
Since we move the pom-fiji 5.0, some classes are marked deprecated, particularly those coming from the late imglib2-meta:

 net.imglib2.meta.Axes
 net.imglib2.meta.AxisType
 net.imglib2.meta.ImgPlus
 net.imglib2.meta.view.HyperSliceImgPlus
 net.imglib2.meta.axis.DefaultLinearAxis
 net.imglib2.meta.ImgPlusMetadata

and multithreading:
 net.imglib2.multithreading.SimpleMultiThreading

We need to rep

[2014-11-16 18:39] tinevez opened #54 "Next button can be disabled after normal GUI usage when computing spot feature."
It is possible for a user to disable the 'Next' button of the GUI:

After the initial thresholding step, when the user is prompted to choose a view, the spot feature calculation happens in the background. While this happens, the 'Next' button is disabled, as it should. If the user clicks on the 'I' (information) button, the wizard displays the log window, with a progress bar. While this happens, a

[2014-12-15 16:22] tinevez opened #55 "TrackMate fails with images that are 1-pixel height."

[2014-12-16 16:49] #55 closed, assigned to tinevez

[2014-12-17 10:35] #54 closed, assigned to tinevez

[2015-01-15 08:02] #9 closed

[2015-01-15 08:06] tinevez commented on #53
Yesterday @hinerm did the change:
6f4e15d5f2d64466fb23b9e707748d7a5be2d3ec
But the target imports are still deprecated.

[2015-01-15 11:31] dscho commented on #53
Do you mean the classes `ImgPlus`, `HyperSliceImgPlus`, or the methods of `SimpleMultiThreading`? If you refer to the former, there are no replacements yet (the `@deprecated` annotation is not *quite* correct because of that, but there is a `@dontUseItWillGoAway` annotation). If you are referring to the latter: it is much better to use the SciJava `ThreadService` which has a chance – as opposed to

[2015-01-15 11:44] tinevez commented on #53
Hi @dscho
This issue tracks the 2 categories of classes.
Regarding the `ImgPlus` and co., I am standing still.
Regarding mutithreading, I am blocked at one point. I need something like an ExecutorService but that would be able to tell roughly how many threads it ships to fine tune tasks. I think there was a discussion started revolving around this point but I could not find it again.
In the meanti

[2015-01-15 13:20] hinerm commented on #53
@tinevez - for some background, the `net.imglib2.meta` > `net.imagej` migration started as a result of https://github.com/imagej/imagej-common/issues/43
So the goal wasn't to remove deprecated classes, but to cleanse `net.imglib2.meta`

[2015-04-14 06:56] tinevez opened #58 "Show a message to the user stating ARGB images cannot be processed."
Right now, if you feed TrackMate with an ARGB or a RGB image, it generates a class cast exception.
Would it be feasible to show a friendly dialog informing the user of such, rather than emitting the ClassCastException?

I seem to remember there was such a dialog in a past version of TrackMate, I wonder where it has gone. So, this is a bug.

[2015-04-16 10:27] hadim opened #59 "Weird threads accumulation in LoG detector"
Just for the record : http://fiji-devel.54424.x6.nabble.com/Java-crash-trackemate-allocated-too-much-threads-td2918.html

@tinevez and I suspect that it's coming from the FFConvolution class (https://github.com/imglib/imglib2-algorithm-gpl/blob/master/src/main/java/net/imglib2/algorithm/fft2/FFTConvolution.java).

Probably something related to ExecutorService.

The script to reproduce the bug here

[2015-04-16 11:48] hadim commented on #59
Hope I am not missing something big here but I have the feeling that https://github.com/imglib/imglib2-algorithm-gpl/pull/3 should fix this issue.

I someone could confirm it that would be great.

[2015-05-04 09:02] #59 closed

[2015-06-13 10:39] royfrancis commented on #50
Using Win 7. The TrackScheme bar rarely works or loads properly. Even if it does, it shows the points connected by lines but I have never seen the snapshot from images showing up.

[2015-06-13 14:27] tinevez commented on #50
@royfrancis it seems to be an unrelated issue.
Could you elaborate using another issue? I will need a screenshot and example files.
best
jy

[2015-06-13 15:04] royfrancis commented on #50
![screenshot 2015-06-13 16 51 01](https://cloud.githubusercontent.com/assets/5083500/8144765/433d82e4-11ed-11e5-99d3-e0ea3416ab71.png)

After I click on 1, the progress bar at 2 shows collecting thumbnails, but at the end of the progress, nothing happens.
My file is at this location (temporary link):
https://dl.dropboxusercontent.com/u/78814791/sites/trackmatecheck/1-Converted.tif
Default calibrat

[2015-06-13 15:06] royfrancis opened #60 "No thumbnails in TrackScheme view"
![screenshot 2015-06-13 16 51 01](https://cloud.githubusercontent.com/assets/5083500/8144765/433d82e4-11ed-11e5-99d3-e0ea3416ab71.png)

After I click on 1, the progress bar at 2 shows collecting thumbnails, but at the end of the progress, nothing happens.
My file is at this location (temporary link):
https://dl.dropboxusercontent.com/u/78814791/sites/trackmatecheck/1-Converted.tif
XML link:
https:

[2015-06-13 15:14] royfrancis commented on #50
New issue opened.

[2015-06-13 15:49] tinevez commented on #50
I need the xml file as well. 

<div>-------- Original message --------</div><div>From: Roy Francis <notifications@github.com> </div><div>Date:13/06/2015  17:04  (GMT+01:00) </div><div>To: fiji/TrackMate <TrackMate@noreply.github.com> </div><div>Cc: Jean-Yves Tinevez <jeanyves.tinevez@gmail.com> </div><div>Subject: Re: [TrackMate] On windows, the TrackScheme toolbar does not look so
  good. (#50) <

[2015-06-13 17:08] tinevez commented on #60
Hi @royfrancis
The tiff file has incorrect dimensionality: it states that it has 50 z-slices. If you now set to have 50 frames and 1 z-slices, the thumbnails are found correctly.

[2015-06-13 17:08] #60 closed

[2015-07-30 09:02] tinevez opened #62 "Manually adding spots is very slow for large images."
Clicking 'A' add a spot by trigger intensity calculation that needs to iterate over the spot volume in the image. For large images, this is incredibly slow.

So slow than I consider it a bug. When users are confronted to this delay, they can generate faulty tracks that compromise the whole data model.

![image](https://cloud.githubusercontent.com/assets/3583203/8979498/6eee6566-36aa-11e5-8ad0-ecc7

[2015-09-01 18:46] hinerm opened #63 "Consider expanding MATLAB integration"
@etarena pointed out that there may be opportunity for enhanced integration as a result of recent [ImageJ-MATLAB](https://github.com/imagej/imagej-matlab) work.

Some potential ideas:
- Script templates that would take track results in Fiji, import them to MATLAB and perhaps also run some analysis. This would be a cool and clear way to demonstrate the usefulness of the framework, and also would re

[2015-09-01 18:47] hinerm commented on #63
@tinevez - look at the fun stuff we could work on if you were at the hackathon! :octopus:

[2015-09-01 19:06] tinevez commented on #63
@hinerm you're killing me! :)
10 people out 11 told me I am stupid not to go already

[2015-09-16 14:15] cmci opened #64 "CSV export"
Hi @tinevez,

Great tool! and I have a question, It could be a solved / answered issue: could the resulted tracks be exported as a csv file (time point, coordinates, intensity...)?

thanks,
Kota

[2015-09-16 14:24] tinevez commented on #64
Hi @cmci
So what you can if you want something simple is use the 'Analysis' button on the 'Configure view' panel (the 2nd to last, which allows configuring the display). It will pop up 3 ImageJ tables, one of them containing spots sorted by track, and time. You can save it as CSV.
Please tell me if this is what you are looking for.
best

[2015-09-16 14:27] cmci commented on #64
Thanks a lot!

[2015-09-16 14:48] #64 closed

[2015-10-01 09:21] imagejan opened #67 "Make Median filter work on n-dimensional images"
Currently, the median filter offered during spot detection works on 2D images only, because a 3x3 neighborhood is [hardcoded here](https://github.com/fiji/TrackMate/blob/master/src/main/java/fiji/plugin/trackmate/detection/util/MedianFilter.java#L48):

    final float[] values = new float[ 9 ];

This should either:
- differentiate between 2D and 3D explicitly (`new float[ 27 ]`) or
- avoid hard-co

[2015-10-01 17:50] tinevez commented on #67
Hi @imagejan,
Actually this corresponded to cases where I wanted to apply a median filter specifically in the image plane for classical microscopes. I wanted it to operate on 2D planes even for 3D images.
I don't think it is worth the effort to implement a 3D filter as an optional parameter for TrackMate detectors.

However, if you mean that ImgLib2 should ship a nD median filter, then I follow yo

[2015-10-01 20:35] imagejan commented on #67
@tinevez alright, I see the point.
Then I'd suggest that either `Neighborhood` or `Cursor` get restricted to the xy plane instead, to avoid said exception to be thrown when `nc` has more than 9 elements (see https://github.com/fiji/TrackMate/blob/master/src/main/java/fiji/plugin/trackmate/detection/util/MedianFilter.java#L69).

[2015-10-01 20:49] tinevez commented on #67
Wait, I am slow but I see your point. You mean that there is a BUG and that the software crashes when you try to use median on a 3D image?
If yes it's a bug and there is no arguing - I shall fix it.

[2015-10-13 16:01] ctrueden opened #68 "Trackmate XML output reports pixelated y displacement values but not x or z"
From [Fiji BugZilla issue #1165](http://fiji.sc/bugzilla/show_bug.cgi?id=1165):

[2015-10-13 16:09] ctrueden opened #69 "Threshold value is not strictly used while tracking particles"
Migrated from [Fiji BugZilla issue #1160](http://fiji.sc/bugzilla/show_bug.cgi?id=1160):

[2015-10-15 07:25] tinevez commented on #68
I have been in contact with the user and could confirm it on her data.
Using synthetic 2D data, I could *not* reproduce it. It seems like it happens for 3D solely.
I did quite some extensive tests on it and could not corner the reason behind this bug properly yet. I copy below the state of our discussions.

[2015-10-15 07:26] tinevez commented on #68
I guess the problem is not with the LoG detector itself (that's the part that generates integer pixels) but the subpixel localizer:
More precisely, the class called at this line

https://github.com/fiji/TrackMate/blob/master/src/main/java/fiji/plugin/trackmate/detection/DetectionUtils.java#L207

[2015-10-15 07:27] tinevez commented on #69
I do not confirm this bug at all.
Could you send me a use case that would make a bug clear?

[2015-10-18 16:40] #50 closed

[2015-10-19 15:19] tinevez commented on #68
This is fixed with imglib/imglib2-algorithm#13.
So we just need to wait for the next release of imglib2-algorithm

[2015-10-19 15:21] #68 closed

[2015-10-20 14:50] #62 closed

[2015-10-21 08:37] #67 closed

[2015-10-21 08:58] #58 closed

[2015-10-21 09:00] tinevez commented on #69
No feedback from reporter.

[2015-10-21 09:00] #69 closed

[2015-11-05 07:35] tinevez opened #70 "On Windows platforms, tracks are not displayed since v2.8.0."
On Windows platforms, TrackMate v2.8.0 works normally except that tracks are not displayed at all.
They are here and can be exported and used for analysis, but they are simply not showing on the main view.
They are ok in TrackScheme and on any other platforms.

[2015-11-05 19:55] #70 closed

[2015-11-13 09:30] tischi opened #71 "Toggle display of spots that are not in currently selected plane"
Hello!

When using TrackMate on big 3D data sets display of spots that are not in the currently selected plane can obstruct the view on the data and makes it (in my case) impossible to set sensible Threshold parameters for the spot detection.

This applies to the following panels:

- Settings for detector
- Set filters on Spots

I think a checkbox "Show out-of-plane spots" would be an essential fe

[2015-11-13 15:30] tinevez commented on #71
Hi @tischi
This settings already exists. You can limit the display depth in the panel where views are configured. By setting it to a small value, you can get what you want.

[2015-11-13 15:30] #71 closed

[2015-11-13 17:19] tischi commented on #71
Hi Jy,

That's great!

However the only thing I could find was in "Display Options" the feature "Limit drawing depth".
But to get there I have to go once through the whole workflow and then back again to to beginning, which takes very long if you have >800000 spots.
I tried setting this on a dummy data set and then reopen trackmate on a real data set, but it did not keep my setting of Drawing dept

[2015-11-13 19:41] tinevez commented on #71
No you are not. I see what you mean.
What should have been done is to separate display options from the GUI wizard process. Indeed it makes no sense to change display settings only at the last part of the process.
Unfortunately, this poor design is not easily changed, and I fear you will have to live with it...

[2015-11-13 20:59] imagejan commented on #71
Wouldn't it be possible to somehow get the current `HyperStackDisplayer` and call `HyperStackDisplayer#setDisplaySettings(TrackMateModelView.KEY_DRAWING_DEPTH, value)`? I guess the difficulty is to get the current instance of `HyperStackDisplayer` just after it was instantiated, right?

[2015-11-13 21:31] tinevez commented on #71
@imagejan  That would work. Now we have to think about how to get the right instance.
Something like IJ WindowManager I guess.

[2015-11-24 14:43] tischi commented on #71
I found a workaround, which is to

i) set the crop in the first window to a small region
ii) go through the whole workflow using NN linking to be fast
iii) change display settings
iv) go all the way back and reset the crop
v) start the actual workflow

not beautiful, but works.

[2015-11-24 15:31] tinevez commented on #71
I thought about this and I think a proper way would be to have a display settings window that can be accessed at any time. I will create an issue about this, but don't expect to get it this year...

[2015-11-24 15:33] tinevez opened #72 "Have a display settings window accessible at any time when using the wizard GUI."
Right now the display settings panel (the Configure Views panel) is shown only when the whole tracking process (detection, initial filtering, spot filter, tracking, track filtering) is complete.

This is a bit too bad, since you might need to tune the views during the process. See for instance #71.

A better GUI would have the option to show a display panel at any time, parallel to the wizard GUI.

[2015-12-08 09:28] thorstenwagner opened #73 "Add new trajectory visualization"
Dear Jean-Yves,

it would be nice if you could add a trajectory visualization which only shows the trajectory when it is active. I recently need that and implemented it in an extra imagej plugin:
https://github.com/thorstenwagner/ij-trackmate-viewer

Cheers,
Thorsten

[2015-12-08 11:16] tinevez commented on #73
Hi Thorsten.
Good idea, severalpeople asked for it.
I have to integrate this on the GUI and find the time.

[2015-12-08 12:08] thorstenwagner commented on #73
Nice :-)

[2015-12-08 18:34] tinevez commented on #73
Well, we'll see when it's done :/

[2015-12-09 15:27] imagejan opened #74 "Add FeatureFilter for spots contained in the current ROI"
It would be useful to restrict the detected spots to a given (freehand or composite) ROI by simply filtering on the value of `imp.getRoi().contains(int x, int y)` by creating a `FeatureFilter` for that.

I couldn't find that functionality, so far ROIs are only respected during spot detection preview.

[2015-12-09 21:17] tinevez commented on #74
Hi @imagejan
This is tricky, as FeatureFilter only take scalar input. The closest I have is the use of Spot.X, Y as filters. Could you develop a bit? Just for your slow friend?

[2015-12-09 21:23] imagejan commented on #74
Hi @tinevez
the actual use case is when you want to track spots in the cytoplasm of a cell but not in the nucleus, and not in potential neighboring cells. You draw a freehand ROI, detect the spot and it would be great to be able to simple filter the spots according to if they are in ROI. Of course this can also be done by masking before starting TrackMate, but filtering by ROI would make it much m

[2015-12-09 21:37] tinevez commented on #74
I am hesitating on this one because I cannot add it on the wizard without disrupting how it flows currently.
Best thing I can think of is to make it an Action, callable from the last panel. Do you want to have a go for it?
http://fiji.sc/How_to_write_custom_actions_for_TrackMate

[2016-01-10 16:02] tinevez opened #75 "Offer the possibility to export stats on all spots, event those not in tracks."
Right now, you can get the stats on spots only if they belong to a track.

[2016-02-25 09:32] imagejan commented on #75
See also [this discussion](http://forum.imagej.net/t/help-for-bright-spot-detection-with-trackmate-or-process-matching/944/5?u=imagejan) on the ImageJ forum.

[2016-03-30 09:06] #75 closed

[2016-03-31 10:43] #73 closed

[2016-04-21 14:51] tinevez commented on #63
Hi @hinerm
On this subject I have made some progresses, though they do not follow your recommendations.
I made plain MATLAB functions that can import a TrackMate file as a MATLAB directed graph, much like what we have inside TrackMate.

Any advice of how I should go on with this? Just release them in the `script` folder? Something else?

[2016-04-25 13:29] hinerm commented on #63
I think this sounds reasonable!

[2016-05-13 14:35] thorstenwagner opened #81 "Add some trajectory characteristics which are provided by TraJ"
I would like to suggest to add some trajectory characteristics which are provided by the library TraJ:
https://github.com/thorstenwagner/TraJ

[2016-05-13 14:55] tinevez commented on #81
Do you feel like doing it?

* You can add them as a or several TrackAnalyzer that generates the features you want.
* Or write an Action that triggers TraJ, automatically import existing tracks from TrackMate to TraJ and prints the report.

[2016-05-13 15:02] thorstenwagner commented on #81
I will implement it... I guess I will start with the **fractal dimension** (because it is a very powerfull feature)  as a **TrackAnalyzer**, and then add (step by step) another features.
However, it will need some time...

[2016-05-13 15:52] tinevez commented on #81
What about just making an action that calls TraJ?
This should be fast and takes little time.

[2016-05-13 19:59] thorstenwagner commented on #81
We could start with a action as well. What kind of report have you in mind?

[2016-05-13 20:16] tinevez commented on #81
Nothing fancy: just an IJ1 table.
I was aiming at an Action rather than a series of TrackFeature for several reasons:

* TrackFeatures are updated "live" everytime something changes in the model. If the feature takes too much time to compute, then it will make the GUI sluggish against manual modifications.
* The Action can call to a 3rd party library. If something goes wrong later or if we make a

[2016-05-13 20:20] thorstenwagner commented on #81
Good reasons! Then we have a decision :-)

[2016-05-17 02:32] Christopher-Ng opened #82 "Trackmate Scripting Output to CSV?"
I am currently writing a few Trackmate scripts to automate my image processing that I had using the GUI for initially.
It has dramatically speeded up my work but I love the "Track Statistics" CSV that I was able to save from the Analysis button, as it was easily importable into excel etc. Is there a way to create a table from the feature model similar to the "Track Statistics" table?

Thanks!

[2016-05-17 06:22] tinevez commented on #82
I don't think you can do it in IJ1 macro, as there is no command.
In python you can take inspiration from this script
http://imagej.net/Scripting_TrackMate#Export_spot.2C_edge_and_track_numerical_features_after_tracking
and add commands to save the IJ1 table as CVS.

[2016-06-01 15:52] #72 closed

[2016-06-14 09:25] tinevez opened #84 "Export to Icy tracks fail."
Launching the action with v3.3.0 allows the user to select the target file, but then an exception is raised:

`Exception in thread "TrackMate action thread" java.lang.NullPointerException
    at fiji.plugin.trackmate.io.IcyTrackFormatWriter.process(IcyTrackFormatWriter.java:165)
    at fiji.plugin.trackmate.action.IcyTrackExporter.execute(IcyTrackExporter.java:80)
    at fiji.plugin.trackmate.gui.

[2016-06-15 13:07] hadim opened #86 "Linear LAP Tracker fails when no spots is present in the first frame"
I have the following error :

[code]

Using last Fiji 3.3.0 version.

[2016-06-15 13:14] hadim commented on #86
It's weird cuz it's working "sometime" with different images on my dataset... I'll let you know as soon as I can find the common parameters that arise when it's not working,

[2016-06-15 15:42] tinevez commented on #86
Apparently it's trying to link a spot with itself, which is forbidden.
I suspect either
- a problem with multihtreading.
- a problem with spot equality.

Any chance you would update the title of the issue to something more specific?

[2016-06-15 16:03] hadim commented on #86
If you have idea for more tests I could do, tell me because I can't find a strict way to reproduce the error.

[2016-06-15 16:06] tinevez commented on #86
To be honest I cannot reproduce the problem. But it does not mean it is not real.

What would help as always is an image with parameters to reproduce the problem here.

For the multithreading problem, try to see if setting the number of threads available to the tracker to exactly 1 solves it or not.

[2016-06-15 16:34] hadim commented on #86
I got it. This is because the first frame is just a black image that contain no spots. If I remove the first image, I don't have the bug anymore.

(I have a first only black image because I do a subtraction in time of stack)

[2016-06-15 19:06] tinevez commented on #86
So thisis a bug. TrackMate should not fail there.
Congratulations! Can you change the name of the issue again?

[2016-06-16 18:39] ctrueden commented on #82
Well, there is [eval](http://imagej.net/developer/macro/functions.html#eval). But it's still not object-oriented.

[2016-08-29 13:57] richardwcole opened #87 "3D viewer does not work in TrackMate, regardless of the platform."
the export to 3D viewer does not work.... It could be a 3D viewer issue though

[2016-08-29 17:36] tinevez commented on #87
Yes it is a 3D viewer issue, that roots in the libs it depends on.
See https://github.com/fiji/3D_Viewer/issues/15

[2016-09-22 13:22] Cotton-eye-Joe opened #88 "Choosing output data for Trackmate"
Hello everybody,
As the title says, I was wondering if it would be possible to show only some results when i click TrackMate's 'Analysis' tab. Right now the table shows TrackID,speeds, location, etc.. I would like it to just show the TrackID and mean velocities. Is this possible?
I have already made another post on the ImageJ forum about this  - http://forum.imagej.net/t/choosing-output-data-for-t

[2016-09-22 14:16] tinevez commented on #88
Hi Praveen.
This is not possible at the moment.
The shortest route is to create your own Action module that does that.
A longer route would be to re-engineer the analysis module handling in TrackMate, and build a GUI that lets the user choose what analysers are activated in a TrackMate session.
I keep track of this as a feature enhancement request.

[2016-09-22 15:16] hadim commented on #88
@tinevez is that possible to run the GUI, do the detection and tracking and get the TrackMate object in the Python script GUI of Fiji ?

This way it's easy to extract the informations you want but I am not sure it's possible...

[2016-09-22 15:52] tinevez commented on #88
@hadim At the moment if you want to catch the Model in a script from the GUI, you have to save it to a file, then reload it from the script.
There are not static accessors for TrackMate instances. So you cannot get the Model instance you modify in a GUI, lest you launched the GUI from a script.
But this is a different issue.

[2016-09-22 16:03] hadim commented on #88
Yes sure I was just wondering :-)

[2017-02-03 16:55] hadim opened #91 "Bug calculating spots intensities"
Using a fresh and updated Fiji version I have the following error during a LOG/DOG detection :

[code]
In consequence spots can't be filtered by their intensitiy values.

The bug only happens with my dataset (it works well with Sample for Trackmate).

The problematic file can be found here : https://file.io/5NQfcf

[2017-02-24 09:44] tischi opened #92 "division by zero"
Hello,

we were running like this:

Starting detection using Downsample LoG detector
with settings:
  - target channel: 1
  - downsample factor: 4
  - threshold: 1000.0
  - radius: 1.25
Starting detection process using 8 threads.

and got this error:

[code]

[2017-02-24 10:46] Rjankele opened #93 "Export track Stack - user specified parameters"
Hi, thanks for developing TrackMate.

Would it be possible to specify the area around the spot when exporting track stack?
It would be also extremely useful to export whole 4D hyperstack not only the mid-plane (we have data in 3D + time in 2 channels and the features we are interested in are in the other channel outside of the tracked blob...)

Thanks
Radek

[2017-02-24 12:48] tinevez commented on #93
Hi Radek,

This is possible: use the _Spot display radius ratio_ setting in the _Display options_ panel, then rerun the action. It will use the ratio you set to determine the size of the window.

[2017-02-24 12:48] #93 closed

[2017-02-24 12:50] tinevez commented on #92
Hi @tischi
I cannot reproduce the error. Can you send me the image data and parameters?

[2017-02-24 13:28] tischi commented on #92
Hi, I told the user (see the private e-mail that I sent you).

[2017-02-24 13:33] Rjankele commented on #93
Hi,
thanks I haven't realised this . How about that z-slices?
We noticed that when using export track stack with manually tracked track, it exports only single black/empty image 48x48px. Is that a known bug?

[2017-02-24 13:37] tinevez commented on #93
I cannot reproduce the issue. Can you post the steps to reproduce it?

[2017-02-24 14:35] Rjankele commented on #93
with track ID 0 and 6 in following xml file I get only one a single time-point snapshot (it is not black now, problem was settings of contrast...), but for track ID 2 I get a track stack. I don't see why.

[W14.tif-poorman3D-rigidbody-maxintensity.xml-oocyte-7-8-9tracks.xml.zip](https://github.com/fiji/TrackMate/files/799558/W14.tif-poorman3D-rigidbody-maxintensity.xml-oocyte-7-8-9tracks.xml.zip)

[2017-02-24 14:41] tinevez commented on #93
Hey @Rjankele
I do not have the image attached so I cannot investigate.

As for your question, yes you are right actually!
The 3D version of the stack is only present in MaMuT, not in TrackMate. I will make an issue to put it there for next version.

[2017-02-24 14:42] tinevez opened #94 "Extract 3D stacks for 3D images."
At the current time, the _Extract track stack_ action exports only a single slice of the spot it follows, even for 3D data. Its counterpart in MaMuT properly extracts a 3D stack for 3D data.
This should be the same in TrackMate.

[2017-02-24 14:50] Rjankele commented on #93
That would be great.
The Image is gigantic, so I am now producing cropped image to replicate the problem to be able to upload it.

[2017-03-06 17:06] tischi opened #96 "error when working with big file"
Hi,
We tried TrackMate with a file where one timepoint is 3.7GB, nx,ny,nz 2057,1160,851.
And we got below error message. Is this due to a java indexing issue?!

Exception in thread "TrackMate preview detection thread" java.lang.RuntimeException: Number of elements in Container too big, use for example CellContainer instead: 2796393600 > 2147483647
	at net.imglib2.img.array.ArrayImgFactory.numEntit

[2017-03-06 17:54] tinevez commented on #96
Yep.
We try to use an image data structure that can only have 2147483647 pixels, but your time point has 2796393600.

What surprises me is that the imglib2 code in `createSuitableNativeImg` should provide automatically an alternative image factory depending on the image size, and apparently it did not pick the right one.

Let me investigate this.

[2017-03-21 14:17] tinevez commented on #91
Hi @hadim
The data is not accessible anymore. Can you send it again please?

[2017-03-21 14:40] hadim commented on #91
Unfortunately I don't remember which dataset was it.... I'll try to reproduce it and keep you in touch.

[2017-03-21 15:17] tinevez commented on #84
False alarm. It works as expected.

[2017-03-21 15:17] #84 closed

[2017-03-21 15:18] #86 closed

[2017-03-21 15:20] #94 closed

[2017-03-21 15:48] #96 closed

[2017-03-21 15:49] tinevez commented on #96
Hi @tischi
Can you test this fix by pulling and compiling from the master please?

[2017-03-22 08:53] tischi commented on #96
I will do it as soon as possible. Currently I am drowning a bit in work, so it could take a bit.

[2017-03-23 12:43] tinevez commented on #92
Hi @tischi
I looked in my emails and it looks like I either lost the email, or the user never contacted me with the data. Can you have it send to me again please?

[2017-03-26 07:27] tischi opened #99 "MultiChannel SpotSegmentation via API"
I am trying to use the TrackMate API for multi-channel spot detection. As I did not find a "per-channel" logic within the current API, I am instantiating a new trackmate.model for each channel and store all the models in a array:

        segmentationResults.models = new Model[channels.length];
        segmentationResults.channels = channels;

        for( int channel : channels) {

            Mo

[2017-03-27 08:00] tischi opened #100 "Channel selection via API"
I am using this code to select the target channel:

`settings.detectorSettings.put(DetectorKeys.KEY_TARGET_CHANNEL, iChannel);
`

I realized that if iChannel is larger than the number of channels in the image it kind of "starts counting from the beginning".
For example, if there are the channels 0,1,2,3 and I select iChannel=5 it would take channel 1.
I was just wondering if that is designed like

[2017-03-27 12:46] tinevez commented on #100
No, I did not think of putting checks, and it defaulted on ImageJ behaviour.

[2017-03-27 12:56] tischi commented on #100
Ok! Thanks for the info!

[2017-03-27 12:56] #100 closed

[2017-03-28 16:38] tischi commented on #99
I found a solution (code below), putting all spots into one model and then assigning a color feature.
Do you think that is a good solution?

    public void showOverlayUsingTrackMateHyperStackDisplayer()
    {
        // get the multi-channel TrackMate results
        Model[] models = segmentationResults.models;

        Model modelOverlay = new Model();
        modelOverlay.setLogger(Logger.IJ_LO

[2017-03-28 18:47] imagejan commented on #99
That looks like a very nice solution to me 😄

The only thing that confuses me is the name of the variable `segmentationResults`: because there's no [segmentation](http://imagej.net/Segmentation) performed anywhere, the spots are merely a collection of coordinates and do not segment your image into foreground and background regions...

[2017-03-29 08:24] tischi commented on #99
The reason for the name is that I want to write my code generic enough to also hold other segmentation results such as provided by the 3DImageSuite. Basically, the class segmentationResults is just a container that has member variables such as TrackMate models, but could be also anything else. The idea is that TrackMate DoG is just one option for SpotDetection, but the user could also select other

[2017-03-29 21:18] tischi commented on #99
Hi again,

I just realized that my code is in fact not working, as it still always uses the default **_Jet_** InterpolatePaintScale for painting the spot. I found this line of code and it seems to be hard-coded:

https://github.com/fiji/TrackMate/blob/master/src/main/java/fiji/plugin/trackmate/visualization/SpotColorGenerator.java#L26

In below code:

        HyperStackDisplayer hyperStackDisplaye

[2017-03-30 07:58] imagejan commented on #99
I submitted this pull request https://github.com/fiji/TrackMate/pull/90 a while ago to change the standard color map to Viridis (because it is perceptually uniform and in general far better than the ugly Jet, IMHO). As you see there, the color map is currently hard-coded. If you find time to investigate how to make it configurable from the UI, that would be great.

[2017-03-30 09:15] tischi commented on #99
Thank you for the fast answer! Getting into the TrackMate code deep enough to create a pull request for a real solution is not realistic for me in the short term, but I will keep it in mind and hopefully find some time in the future! Looks like for now I have to live with the Jet.

[2017-04-03 12:41] tinevez opened #101 "Make sure graph exports happen properly."
The charts are not exported properly if a .PNG is not appended to the filename.
Check this thread:
http://forum.imagej.net/t/export-trackmate-graphics-as-png-not-working/4713

[2017-05-15 08:52] jedyzdc opened #102 "Sth about present trajectories"
Dear Jean-Yves:
    Thank you for your amazing plugins! It is easy to use and give excellent and accurate result.
    Here is my question, and I hope you can give me a reply. The current trajectories mode shown on the images gives entire trajectories or local trajectories. However, I want the trajectories showing like this: when the particles start to move, the trajectories are plotted together wi

[2017-05-15 11:43] tinevez commented on #102
Hi @jedyzdc
You can do that by selecting `Plot local track backward`, but with unchecking the `limit frame depth` button.

![trackmate capture](https://cloud.githubusercontent.com/assets/3583203/26056163/65d377d6-3974-11e7-8918-959c511fd5ec.gif)

[2017-05-15 11:43] #102 closed

[2017-05-16 11:00] jedyzdc commented on #102
Hi Jean-Yves:

   That is really cool! Thank you so much.

Best
Dingcheng

jedyzdc@gmail.com

From: Jean-Yves Tinevez
Date: 2017-05-15 19:43
To: fiji/TrackMate
CC: jedyzdc; Mention
Subject: Re: [fiji/TrackMate] Sth about present trajectories (#102)
Hi @jedyzdc
You can do that by selecting Plot local track backward, but with unchecking the limit frame depth button.
—
You are receiving this because

[2017-06-28 06:09] rustyconc opened #103 "Capture overlay offset"
Thanks for such a fantastic plugin.

I know this wasn't a problem in an earlier version (unknown) that I tried.  However, now the capture overlay command captures the slice counter header of the image, and misses a bottom strip of image+overlay.  Looks like an offset is needed in the region to be captured?

Thanks,
Russsell

Win10
Java 1.8.0_66
ImageJ 1.51n (FIJI)
TrackMate 3.5.1

[2017-06-28 06:50] tinevez commented on #103
Hi @rustyconc

I could not reproduce the bug, on the same platform. Do you have any specifics? Did you move the window during acquisition?

[2017-06-28 17:59] rustyconc commented on #103
@tinevez Hmmm... attaching original image stack, trackmate xml file, and the capture export.  I have tried several times with different source images, and same result.  In all cases I simply executed the capture (mouse-click) and then did not touch the mouse again until completion.  Interestingly, where the image is on the screen (i.e. I moved the image before executing) seems to affect the amount

[2017-06-28 19:31] tinevez commented on #103
I am not sure you will like this, but I still cannot reproduce, despite trying on several computers.
Could it be something in the line of graphic display drivers the became awry? A Java version to update?

[2017-06-28 21:14] rustyconc commented on #103
No other graphics issues on this machine, so could be quite the task to isolate here.  I have an easy workaround via TrackMate2MTrackJ and MTrackJ movie export, so probably not worth more of our time.  Thanks for the rapid responses!

[2017-06-28 21:27] tinevez commented on #103
Well I will reopen this one if this ever happens to people...

[2017-06-28 21:27] #103 closed

[2017-08-02 03:29] MaximeMaW opened #104 ""Load a TrackMate file" yields The source image is not loaded; cannot instantiates spot analyzers."
Hi,

First of all, thank you very much for this plugin. It is very easy to use and provided very good results to analyze my single particle datasets.

I am analyzing .nd2 files in Fiji (they are imported through the Bio-formats importer), and everything works fine with TrackMate. In the end, I clicked TrackMate's save button to store all the parameters used in the analysis for later use and reprod

[2017-08-02 07:24] tinevez commented on #104
Hi @MaximeMaW

TrackMate is limited to only reload ImageJ TIF files. If you use another file format, the image and the overlay will not be linked properly.

[2017-08-02 07:24] #104 closed

[2017-08-02 17:16] MaximeMaW commented on #104
Hi @tinevez

Thank you for your quick reply. I understand that supporting all the specificities of the Bio-formats module is a huge task and that there is no plan to dig into it.

However, I am not sure to understand the implications. Does it mean that there is no way to make this link between the image and the overlay manually (in a similar manner as the "refresh source" button)?

On an even more

[2017-08-06 21:36] imagejan commented on #104
@MaximeMaW this has been discussed on the forum. See for example:
http://forum.imagej.net/t/trackmate-error-when-loading-a-saved-xml-linked-to-zvi/4683?u=imagejan

[2017-08-07 15:35] MaximeMaW commented on #104
@imagejan Thanks a lot!

[2017-08-14 07:21] haesleinhuepf opened #105 "bug while loading trackmate xml file"
Hey @tinevez, hey guys,

I just had a nullpointer exception popping up when trying to reload a trackmate xml file, which was saved a minute before:

(Fiji Is Just) ImageJ 2.0.0-rc-61/1.51n; Java 1.8.0_66 [64-bit]; Mac OS X 10.12.5; 57MB of 9834MB (<1%)

java.lang.NullPointerException
	at fiji.plugin.trackmate.io.TmXmlReader.getVersion(TmXmlReader.java:458)
	at fiji.plugin.trackmate.LoadTrackMatePl

[2017-08-14 09:23] haesleinhuepf commented on #105
Ah right. I see. My fault! Thanks anyway :)

[2017-08-15 23:00] MaximeMaW opened #106 ""Save" button greyed"
Hello,

Thanks a lot for TrackMate, I have been using it for a couple of weeks now with great success!

In particular, I find the "save" option very useful. However, sometimes, this option appears greyed out at the end of the analysis, and it will not activate even after several minutes. The "actions" panel works fine though.

After a little bit of playing around, it seems that this option greys o

[2017-08-18 18:49] tinevez commented on #106
Hi and thanks for your kind words.
This is a serious problem and it will be hard to tackle.
The log you attach here do not show any exception or error message which worries me. Nothing shows up in the imagej console?
Also, since it seems to be correlated with the image size, could you please try to run the exact same analysis on another computer?

Finally, I am surprised by the amount of time it t

[2017-08-18 22:20] MaximeMaW commented on #106
Hi @tinevez,

Thank you for your feedback.

As far as I can tell, nothing shows up in the ImageJ error log (if this is what you call the imageJ console), and nothing in the terminal if Fiji is started from the terminal. I will re-run this on another computer as soon as I can (probably this week-end), and check when this happens. I will keep you posted.

Thanks again for your interest in this issue

[2017-08-19 22:04] MaximeMaW commented on #106
Hi @tinevez

1. I tried to run the same analysis (exact same file) on a different computer (Mac OS, latest version of Fiji, TrackMate 3.5.1-SNAPSHOT), with twice as much RAM as the previous analysis. I get exactly the same results, see the log attached below

2. Indeed, it seems that the button gets greyed when computing the features, and never comes back.

3. I confirm that no exception gets thro

[2017-08-20 07:30] tinevez commented on #106
Ok then.
Could you send me the image file please?

[2017-08-21 16:02] MaximeMaW commented on #106
There it is: [image file](https://cloud.biologie.ens.fr/index.php/s/WugbDL5H0NTwpCi)

[2017-09-02 16:37] MaximeMaW commented on #106
Hi @tinevez, have you been able to reproduce the issue I encounter? Let me know if I can provide any additional information.

[2017-09-02 21:39] tinevez commented on #106
Hi @MaximeMaW
No I was NOT able to reproduce the problem. The spot calculation feature processed for as long as in your case and completed normally. I could save the data. Here it is
http://dl.pasteur.fr/fop/waxeZrGH/001_1000mW_25pGlycerol_1nM_1_69ms_1ms001.nd2.xml

I suspect only two things:

 * Did you try to show the log panel (clicking on the 'i' button) or the view control panel (the orange w

[2017-09-03 21:09] MaximeMaW commented on #106
Hi @tinevez

Thank you very much for your time. I indeed remember trying to show the log panel. I will make another test without showing it and will tell you how it goes. Also, I totally agree that the data is tricky to track, this was one of our first experiments.

[2017-09-03 22:36] MaximeMaW commented on #106
Hi @tinevez,

I confirm that when I do NOT click the log ("i") button, I am able to save the data as expected. Thus, a **workaround** for this issue is to avoid clicking it.

1. For my use-case, this is a valid workaround. However, if there is anything I can do to help troubleshoot the issue further let me know
2. Should I close the issue/rename it to "Save button greyed permanently when displayin

[2017-10-03 16:32] lacan opened #107 "Get the track ID of a given Spot"
Hi all,
I am plying around with trackmate scripting for the first time and have hit a bit of a snag

Goal: Find the closest track that begins near a particular spot

The following is in Groovy
[code]
basically I have a list of xy coordinates and I want to find
1. the closest spot to that starting position
2. the ID of the track so I can then extract the information that I need

if I check the cont

[2017-10-03 16:39] #107 closed

[2017-10-03 16:39] lacan commented on #107
seems there was an issue between calibrated and uncalibrated values... My bad :)

[2017-10-11 00:53] l-jaye opened #109 "Trackmate capture doing something real strange"
Hello!

Great plugin, thank you!

I can't seem to export the overlays however.
This is what I am getting at the end of working thru the plugin:
![image](https://user-images.githubusercontent.com/32018129/31417327-b6a17800-adfc-11e7-9d82-7b593f327b49.png)

And this is what I get when I "Capture overlay" at the end of the plugin:

![image](https://user-images.githubusercontent.com/32018129/31417345-

[2017-10-11 06:11] tinevez commented on #109
Do you have multiple screens?

[2017-10-11 12:29] l-jaye commented on #109
No, just on my laptop, but I am running Windows 10 on Mac via Bootcamp (it is my primary OS, iOS exists only for hardware drivers and I never boot into it). Perhaps this is messing with it?

I can try today on a true windows PC and get back to you :)

Thanks!

[2017-10-11 12:45] tinevez commented on #109
Hi @l-jaye
I actually _know_ about the big. It happened to me as well, _sometimes_. I was not able to diagnose it properly due to its stochastic appearance.
Keep us posted nonetheless!

[2017-10-11 23:49] MaximeMaW opened #110 "Non-homogenous subpixelic localization"
Hi,

I have been recently analyzing fast single particle tracking data using TrackMate. To do so, I am computing the distribution of jump lengths (for which we have analytical derivations under free diffusion asumptions). The [Spot-On documentation](https://spoton.berkeley.edu/SPTGUI/docs/latest#the-problem) (among others) has an interactive plot about how the distribution is supposed to look like

[2017-10-12 03:07] l-jaye commented on #109
hello!

had no issues whatsoever on the true windows PC. So must be an issue with bootcamp drivers?

thanks!

[2017-10-12 07:54] tinevez commented on #109
Nope. Happens on my mac too sometimes.

[2017-10-12 07:55] tinevez commented on #109
You are not the only one btw: https://github.com/fiji/TrackMate/issues/103

[2017-10-12 08:05] tinevez commented on #110
This is probably a feature of the sub-pixel localisation technique we use, which is based on quadratic peak interpolation.

This issue and the like generated previously much scrutiny and bug fixes. For instance:
 - https://github.com/fiji/TrackMate/issues/68
 - http://forum.imagej.net/t/trackmate-spot-detection-accuracy-question/4590
 - http://forum.imagej.net/t/accuracy-of-subpixel-localization-i

[2017-10-12 17:41] MaximeMaW commented on #110
Hi,

Thank you very much for your quick response. I was not aware of the subpixelic localizer not being unbiased in noise-free conditions. I will come back to you with further tests, after playing with the sigma threshold.

On the other hand, it alternative fitting routines provide accurate subpixelic localization (at the expense of speed). Is there any plan to implement, for instance, gaussian fi

[2017-10-12 18:13] MaximeMaW opened #111 "TrackMate does not warn the user before overwriting files"
Hi, I noticed that when I click the "Save" button at the bottom left corner of the interface, or the "Export tracks to XML file" button in the action panel, TrackMate does not warn the user if it is about to overwrite an existing file.

This is an unconventional behaviour compared to the softwares I am used to. Is that intentional?

Thank you very much

[2017-10-13 02:58] l-jaye commented on #109
Jean-Yves,

Can I contact you somehow about an un-related Trackmate question regarding
scripting?

Thanks!
-Julia

On Thu, Oct 12, 2017 at 3:55 AM, Jean-Yves Tinevez <notifications@github.com

[2017-10-13 04:29] imagejan commented on #109
@l-jaye the best way is to ask on the [forum](http://forum.imagej.net/). This way, also others can benefit from the help when having similar problems.

[2017-10-13 06:54] tinevez commented on #111
Mouhahahahahahaha :trollface: 😈

[2017-10-13 06:55] tinevez commented on #111
More seriously I will fix this in the next release.

[2017-10-13 06:57] tinevez commented on #110
- At the current time no.
- Oh yes. So very much.
You can go two routes if you want to do that.
- Either extend or copy the `LoGDetector` in another detector class and change the lines calling the sub-pixel localisation routine.  https://imagej.net/How_to_write_your_own_detection_algorithm_for_TrackMate
- Or create an `Action` that modify the spots location. https://imagej.net/How_to_write_custom_

[2017-10-24 04:20] MaximeMaW commented on #110
Hi,

Thank you very much for the pointers. I will look into this and probably try to implement it as a detection algorithm rather than an action.

Meanwhile, I performed additional analysis, namely, I plotted the density of detections within a pixel for various detection algorithms:

![171023_pixel2d](https://user-images.githubusercontent.com/26774320/31924439-fa94f59e-b835-11e7-8091-bb9add830b91.

[2017-10-24 05:47] tinevez commented on #110
Humm now I am full of doubts. This is something worth investigating.

[2017-10-24 13:40] l-jaye opened #112 "TrackOverlay disappears from PNG, and neither show up in imp.getOverlay()"
Hi @tinevez !

Fantastic plugin!

We are running it via Jython script to automate processing of multiple images, and at this point, the last remaining problem is trying to save the hyperstack view of the first 20% of slices, at the end of each trackmate cycle.

However, when I flatten a slice, it only shows the spots overlay (and I believe all of them the same from the first slice, not from the cu

[2017-10-24 13:46] tinevez commented on #112
Hi @l-jaye

I am afraid the `flatten` command won't be working. We have used an ImageJ1 `Overlay` and `Roi` as base classes and interfaces, but that was just to be able to plug into an `ImagePlus`. So it is 'normal' that you find the Roi to be empty.

For TrackMate the only thing I could come up to capture the overlay was to use the `ScreenGrabber` trick you found in the `CaptureOverlayAction`. In

[2017-10-24 13:46] #112 closed

[2017-10-24 19:07] MaximeMaW commented on #110
Hi,

I was able to understand where the issue comes from. The "clipping" occurs when a particle is detected at the edge of the image:

- Since my image had a weird aspect ratio, clipping happened more often across the y axis than the x axis
- I guess this effect becomes visible when there are a lot of particles (in my case, >0.5 million detections)
- I tested the role of the blob size, and for my

[2017-11-01 03:37] MaximeMaW commented on #110
@tinevez, would you have any thought about my previous message? Thanks!

[2017-11-03 18:05] hadim opened #113 "Spots from Frame 2 all discarded when tracked with linear motion tracker"
@tinevez

I think I found a bug in the linear motion tracker. When used, all the detected spots on **Frame 2** are discarded. It does not happen with the other trackers.

You can reproduce this with the Trackmate sample without configuring anything just clicking next on the GUI.

[2017-11-29 17:20] ajnarivera commented on #109
I'm having this exact same problem on Windows 10.  It happens every time I try to capture overlay.  Changing my display settings hasn't helped yet.  The left side is the results of tracking, the right side is the results of Capture Overlay
![capture](https://user-images.githubusercontent.com/34078672/33389015-6f2fb3fe-d4e6-11e7-81f2-853fdbc694be.GIF)

[2017-11-29 19:32] etarena opened #114 "Capture Overlay in TrackMate is offset"
This issue was originally posted by @ajnarivera on the [imagej/imagej repository](https://github.com/imagej/imagej/issues) here: [#181](https://github.com/imagej/imagej/issues/181).

I've tried Capture Overlay several times, including after restarting my computer.  Each time it produces an offset clip:
![capture](https://user-images.githubusercontent.com/34078672/33350366-379d2e00-d453-11e7-8c4b-2

[2017-11-29 21:57] tinevez commented on #114
Yep. And I do not know how to fix it yet.

[2017-11-29 21:57] tinevez commented on #114
Duplicate of #109

[2017-11-29 21:57] #114 closed

[2018-02-14 16:12] etadobson opened #115 "Add a detector to Trackmate that runs two detections with two different diameters"
As suggested by @hadim on the ImageJ Forum on a [post](http://forum.imagej.net/t/particle-tracking-in-video-s/9258) by a user wishing to track differently-sized objects in the same field-of-view.

As he said, it "would be nice to add a detector to Trackmate that run two detections with two different diameters. It should not be that hard since it would basically be a wrapper over the already existi

[2018-02-19 15:24] MaximeMaW commented on #110
Hi @tinevez,

So I made a first attempt to write an action that filters those detections, as you initially suggested ([GitLab link](https://gitlab.com/padouppadoup/Trackmate-filter-exportXML)). The plugin works, but as you might guess, this is not a satisfactory workaround, because it adds gaps to a track, potentially breaking downstream analyses, or event generating empty tracks.

I was wondering

[2018-02-19 15:31] MaximeMaW opened #116 "Action export overlay: select range of images"
Hi,

I am a great fan of the "export overlay" action. However, since it captures the overlay frame by frame, this can get really long for long acquisitions, and I was wondering how I could tell trackMate to only export a range of frame (say frames 8000-9000 in a movie of 100k frames). I tried to play around with the Fiji features to reslice the stack, but I always ended up in losing the overlay.

[2018-02-21 15:51] imagejan opened #117 "Consider remembering parameter values across runs"
Currently, default values for input parameters (such as *Blob diameter*, *Threshold*, *Linking max distance* etc.) are hard-coded, e.g. in [`DetectorKeys`](https://github.com/fiji/TrackMate/blob/5532cd4544e73cf6345b1a41eab12f4ae48c8ccf/src/main/java/fiji/plugin/trackmate/detection/DetectorKeys.java) and [`TrackerKeys`](https://github.com/fiji/TrackMate/blob/ccbf81f86181c018b6d620e2fee29f20def79773

[2018-03-08 19:33] alexdukhno opened #119 "Spot interpolation leads to NullPointerException spam"
Hello

I've noticed a peculiar behavior with Trackmate: when I treat the image stacks, everything goes perfectly fine until the very last window, where one can choose operations like exporting to XML. After that, if I choose the option of interpolating missing points, the plugin works fine, deactivates the execute button, but then starts spitting out copious amounts of "Exception in thread "AWT-Ev

[2018-03-08 20:19] tinevez commented on #119
@haesleinhuepf could you check this?

[2018-03-10 11:27] MaximeMaW opened #120 "Issues with scripting: tracks are not saved in XML"
(Sorry for the long message. I tried to provide a reproducible, minimal (non)working example).

I am adapting the script provided on the [Scripting TrackMate page](https://imagej.net/Scripting_TrackMate). My goal is to perform the tracking in batch mode, and to save the result of the tracking in the TrackMate file (so that I can then use TrackMate to inspect the trajectories, etc).

To do so, I am

[2018-03-13 03:02] hftsai opened #121 "[enhancement] blob tracking for cell centroid tracking as well as shape descriptor tracking"
Dr. Tinevez,
Trackmate has been great. I read about this issue on the FAQ. i just want to possible ask again for your thoughts about what kind of approach is possible to enable trackmate to track irregular rois?
Since this approach will be greatly helpful for cell migration analysis.
I think right now segmentation can be done else where for better results to generate binary masks. But tracking mul

[2018-03-15 09:12] seamusholden commented on #113
Can confirm this bug.
It is also specific to the linear motion tracker. Eg, spots from Frame 2 are retained in the simple LAP tracker.

[2018-03-15 10:02] tinevez commented on #121
I think this is something the great @stelfrich started doing. Stephan, care to comment?

[2018-03-16 10:19] tinevez commented on #113
I have a crazy request: Could you send me a short TrackMate file that demonstrate the problem and that I could use to solve it?

[2018-03-16 10:44] seamusholden commented on #113
Absolutely. Thanks for following this up! Hopefully this should work. Included the movie as well. Dataset is tracked with the LinearLAP tracker and as you can see all the tracks are missing frame 2.

[testKalmanTracker.zip](https://github.com/fiji/TrackMate/files/1818887/testKalmanTracker.zip)

[2018-03-19 07:01] stelfrich commented on #121
Thanks for the 💐!

Indeed, I have worked on that quite some time ago and have a running version somewhere. I will not have time to dig into it this week but I might find some time next week. Just to get my priorities straight: @hftsai, do you require information from the original image from which the binary mask was created (e.g. intensities)?

[2018-03-19 07:18] hftsai commented on #121
Hi Stelfrich ,
Thank you so much.
What i have imagined is to obtain a linked rois to allow me to track centroid as well as all other shape descriptors (fit ellipse, circularity etc)
Do you think it's something doable?

Thank you so much

[2018-03-19 07:28] stelfrich commented on #121
I have links to `Roi`s in the implementation s.t. it should be possible to extract the quantities you have mentioned. I will look into making my implementation more generic to operate on binary images (which should avoid some of the `Overlay` discussions from #17) next week.

[2018-03-22 21:34] Natacoman opened #123 "Command to generate Full Track Statistics Table from Analysis"
Hi,

I am trying to script my Trackmate analysis pipeline.
How do I generate the full "Track Statistics" Table (with stats on Track quality and channel intensity etc.) with python scripts? This is the same table as the one generated when I click "Analysis" on the GUI under Display options.

I tried ExportStatsToIJAction().execute(trackmate) but the "Track Statistics" Table only has duration, start

[2018-03-23 10:38] MaximeMaW commented on #120
Hello, any update regarding this issue? Many thanks!

[2018-03-23 11:29] tinevez commented on #120
Not yet. One guy I will not name gave me plenty of work on TrackMate - involving a CSV importer and a better overlay capture - and it is consuming all my time.

[2018-03-23 20:18] nranthony commented on #109
Hi Jean-Yves, nice chatting with you at the Janelia conference.

Alas, I'm seeing the same issue with my capture:
![image](https://user-images.githubusercontent.com/16306836/37851553-babfddfc-2eb5-11e8-99bc-c2efcd77102e.png)
Please let me know what details you'd like from me to help you debug.
Thanks in advance for your time.
Neil

[2018-03-23 20:35] nranthony commented on #109
I'm running windows 10.  I have two monitors; I tried disconecting one and restarting Fiji, but it's the same.  The steps I take are:
- open ome.tif in Fiji
- run trackmate
- swap z & t
- update the delta t from 1 frame to 66 ms and refresh trackmate
- run with pretty much default settings and create the overlay output

[2018-03-24 17:21] #116 closed

[2018-03-29 14:47] nranthony commented on #109
Just to follow up.  I tried a different windows 10 PC, with a different GPU (Quadro vs GTX above) and it's the same.  There appears to be a strange offset that changes on the position of the window relative to each other.  See below for three captures overlaid and the offset within each.

![image](https://user-images.githubusercontent.com/16306836/38095456-85a64074-333e-11e8-98c6-407f4ce09133.png)

[2018-03-29 15:07] tinevez commented on #109
Honestly I really do not know how to get this right.
The class responsible for this is here:
https://github.com/fiji/TrackMate/blob/master/src/main/java/fiji/plugin/trackmate/action/CaptureOverlayAction.java

The class responsible for capturing the image is `java.awt.Robot`.
The bounds it captures are defined as follow:
[code]

And the capture is as simple as this:
[code]

If anyone has an idea wh

[2018-03-29 17:16] ctrueden commented on #109
@tinevez Not sure about the intermittent `java.awt.Robot` misbehavior. But this feature captures only the _inside_ of the image window, correct? If so, would it suffice to paint the canvas to a separate `BufferedImage` directly by calling `paint(Graphics)`? I whipped up an example to make sure it works: ctrueden/sandbox@fe1b2a090f83a21f40d5800899350ad64b1c7826. Might be issues with HDPI like Retin

[2018-03-29 19:04] tinevez commented on #109
@ctrueden
Yup totally. The great Tobi also showed me that the proper way to export something was to have it paint on a different canvas. But I did not know how to do it for RGB capture.
I will rewrite the exporter with your suggestion. Thank you so much!

[2018-03-29 19:09] nranthony commented on #109
You guys are the greatest, and fast too!
Not that I understand the above exactly, but is it related to the strange 'zoom' option in Win10?

[2018-03-30 12:54] tinevez commented on #109
Hi @nranthony, @ajnarivera, @l-jaye.
We hope we have a fix for the problem you describe.
Could you please test the branch `fix-overlay-export` and tell me if now the capture works for you?

[2018-04-02 19:17] nranthony commented on #109
Hi all,
It's fixed!  I cloned and built with Netbeans 8.2.  I changed the other trackmate jars (3.6 and 3.7) to jar.old and added the snapshot to that plugin folder and ran Fiji.

Thanks for your time.  Excuse my pun, but I'll be pluging you plugin in the future with our core users.  It gives great results fast.  Wonderful stuff

Thanks
Neil

![image](https://user-images.githubusercontent.com/1630

[2018-04-02 19:22] tinevez commented on #109
Awesome! Makes my day.
I am merging this and will release soon.
Thank you for your feedback.

[2018-04-02 19:23] #109 closed

[2018-04-03 20:37] ctrueden commented on #109
@l-jaye Two options:

1. Wait for @tinevez to upload a new TrackMate to the update site—then run _Help &#9654; Update..._ in Fiji to receive the update.

2. If you want the fix _now!_ :wink:, you can download the latest development snapshot from [here](http://maven.imagej.net/service/local/artifact/maven/redirect?r=snapshots&g=sc.fiji&a=TrackMate_&v=LATEST&e=jar), place it in your `Fiji.app/plugin

[2018-04-03 20:51] l-jaye commented on #109
@ctrueden Thanks a ton!!!!!! I need some captures for a talk tomorrow, so perfect timing!!! Works great for me now :)

[2018-04-25 23:31] ririya opened #125 "Tracking blinking spots"
Hi everyone,

I’m using the LAP tracker and I noticed that Trackmate fails to connect segments if no connection is found between adjacent frames.

For example, if a particle is blinking on and off and it’s only detected on the even frames but missed on the odd frames, no track is generated, even if the distance between detections is within the gap closing threshold.

Is there any way to overcome t

[2018-04-26 01:31] ctrueden commented on #125
Maybe you could downsample/bin the data over time, to eliminate the blinking effect?

[2018-04-26 02:47] ririya commented on #125
On my dataset the blinking is random, i believe downsampling will accentuate the problem. I am thinking of increasing the framerate, but I wanted to know if there is a software solution for this...

[2018-04-26 07:55] imagejan commented on #125
Please note that this issue was first raised [in this topic](http://forum.imagej.net/t/imagej-tracking-blinking-spots-problem/10604?u=imagejan) on the ImageJ forum.

@ririya please always link when cross-posting, so that others can follow the discussion.

[2018-04-26 17:57] ctrueden commented on #125
Maybe a rolling max projection window then, to eliminate gaps for the purposes of segmentation and linking?

[2018-04-26 20:32] ririya commented on #125
@ctrueden I think any pre-processing to the images will create artifacts that are undesirable to me. I need a very robust detection of spots, with a very good resolution between two close spots.

Filling gaps will also be hard because there are a lot of spots. Finding the right direction for filling the spots is almost the same as performing tracking. Moreover, sometimes the spot goes missing for

[2018-04-28 08:45] tinevez commented on #125
I will look into this issue starting next week, as I am currently away from the lab.
Can I get the parameters to reproduce the problem?

[2018-04-29 06:56] tinevez commented on #125
Argh you are perfectly correct. To solve your issue we have to develop a new, specialized tracker.

[2018-04-29 08:29] tinevez commented on #125
What about writing a tracker specific for blinking particles? Bonneaud et al. published one in 2008 but there are no implementation available today.

[2018-05-30 14:35] KrishnaMudumbi opened #126 "Export to Icy"
Hi,

I am having issues exporting my TrackMate results to Icy. Every time I try and execute the function, I get the following error:

Exception in thread "TrackMate action thread" java.lang.StringIndexOutOfBoundsException: String index out of range: -1
	at java.lang.String.substring(String.java:1967)
	at fiji.plugin.trackmate.action.IcyTrackExporter.execute(IcyTrackExporter.java:62)
	at fiji.plugi

[2018-08-27 20:51] chillywings commented on #82
Sorry to revive an old thread, but has anyone figured this out?

I've managed to be able to export the data to an xml file using `ExportTracksToXML.export( model, settings, File)`, however I find that data difficult to work with (and attempting to load this data into a trackmate instance via the GUI or a script produces errors).

`ExportStatsToIJAction.execute( trackmate )` produces the tables tha

[2018-08-27 20:58] Christopher-Ng commented on #82
Hi @chillywings I never came up with a good solution, but what do the ImageJ tables look like? Do they look like the results tables from other analyses? Those can be saved to a csv (or txt file) just by Saving. I do something like that for other macros that I have.

[2018-08-28 07:09] tinevez commented on #82
Hi @chillywings
@Christopher-Ng  is right, you should be able to save the IJ tables as CSV. I do this all the time to send stuff to Excel.

[2018-08-28 19:29] chillywings commented on #82
Hey guys,

The tables put out from `ExportStatsToIJAction.execute( trackmate )` are identical to the ones put out by the GUI. My initial idea was of course to save the tables, however for some reason the tables are inaccessible to the IJ window manager so the saveAs() command can't be used. See the following:
https://forum.image.sc/t/trackmate-scripting-automatically-exporting-spots-in-tracks-link

[2018-08-28 20:01] tinevez commented on #82
Rmlml. The solution would be to have a way for the `ExportStatsToIJAction` to return the tables it created. But it would add fields in to the class that could be null before you call `execute` and methods. This is a bit ugly. Any other idea people?

[2018-08-28 20:02] tinevez commented on #82
Somehow did you try to save to CSV in python? Like with this?
https://docs.python.org/2/library/csv.html

[2018-09-06 18:18] chillywings commented on #82
Hey tinevez,

No, but I'll give it a shot down the road. For now I've just resorted to dealing with xml files and that's working for me. I may still need excel data at some point, so if I figure it out I'll post an update.

Thanks,
Marcus

[2018-09-13 14:32] bernhardw13 commented on #113
Is there any news on this issue?

I ran into the same problem. When I use the linear motion LAP tracker and export tracks to XML file frame 2 is missing in the tracks in the XML file. Frames 0, 1 and >2 are there.

[2018-11-01 08:54] impact27 commented on #125
I had the same problem and the easy fix was to duplicate all the frames. This adds all single particles to a track, which can then be liked. Of course it is not ideal as I have to post-process the results, and the videos are twice as large as they should be.
Would it be possible to add an option so that every particle that are not in a track be added to a track with a single frame? So that when th

[2018-11-01 11:52] impact27 commented on #125
If all the spots are added to the graph, would ConnectivityInspector count single spots as length 1 tracks?

[2018-11-01 16:17] tinevez commented on #125
Argh no.
We specifically impose segments to have at least one **link**. So we need at least 2 spots. If we change this we might break TrackMate elsewhere, in particular loading and saving.
I strongly encourage you to fix this issue *by implementing a specific tracker that can harness this*, not hanging the core of TrackMate.

[2018-11-03 20:35] tinevez commented on #125
Yes that would be the difference to implement. The LAP tracker in its 2nd step only considers linking between track _segments_ and segments are at least 2 spots long.
The change you propose would be to make a new tracker that allows for incorporating free spots to segments in this 2nd step.

[2018-11-16 17:00] chillywings opened #128 "Video Downscaling"
Hi,

Hopefully this is an easy answer. It's come to my attention that the tracks that TrackMate outputs are scaled down relative to the original video. Eg, for a video with a resolution of 1376x1104, the highest x,y values are 364 and 292, respectively. There are definitely objects/tracks beyond that in the video, so I interpret this as a downscaling of the video by 3.78x. Is there a reason this i

[2018-11-16 21:53] tinevez commented on #128
This depends on the pixel size.
If your pixel size is whatever fraction of 1, your coordinates will be different from the pixel position. Come and discuss this on the forum.image.sc

[2018-11-16 21:53] #128 closed

[2018-11-19 15:01] tinevez commented on #120
I think it is because there are some features missing required for saving. For instance you need to compute the `TARGET_ID` and `SOURCE_ID` of all edges to properly save them.

What I would suggest is then to add all features at once, using feature providers. Like this (this is Java, so you have to adapt to Jython):

If `settings` is your `Settings` object:
[code]

[2018-11-22 10:57] MaximeMaW commented on #120
Hi @tinevez

Thank you very much for the update. I translated your Java code to Python as follows:

[code]

That seems to solve the problem, thank you so much! I had totally missed this in the documentation. Thanks again!

[2018-11-22 10:57] #120 closed

[2018-12-10 19:17] huerta89 opened #129 "Batch Processing"
Hi there,

I was wondering if it was possible to do batch processing in the current version of TrackMate.

[2018-12-11 00:36] chillywings opened #130 "The spot collection is empty"
Hi,

So I've been using TrackMate scripts for awhile but suddenly my script seems to have broken and I can't determine why. I'm getting an error from the SparseLAPTracker saying the spot collection is empty, even though if I open the GUI and use the same spot detector settings, I generate lots of spots. Any idea what could be happening? My code is below.

Thanks,
Marcus

[code]

[2018-12-11 16:33] chillywings commented on #130
Hey Tinevez,

I don't understand how it wouldn't be. I get spots through the GUI but not with a script. Unless you're saying my code is the issue and not TrackMate and thus it doesn't belong here..

[2018-12-11 16:58] chillywings commented on #130
Omg... sorry. I figured it out. Stupid mistake. The key radius requires a float. I knew that somehow but forgot about it and for some reason it doesn't kickback an error about it but just tells me it didn't find any spots. So perhaps that's my bug. Print an error message if the detector radius or threshold values are not floats.

Thanks, sorry for the trouble.

[2018-12-12 18:54] squinnlee opened #131 "DoG Detector Error"
Hello,

I am trying to re-analyze some images using the DoG detector in TrackMate and I am getting an error. It has worked before a few weeks ago, but when I tried analyzing my images today it would not work. I get an error when I select the next button or the preview button after selecting the DoG detector. I tried some of the ImageJ sample images, and it still will not work. It is the DoG detect

[2018-12-12 18:56] squinnlee commented on #131
By the way, I also tried re-installing Fiji

[2018-12-12 23:05] tinevez commented on #131
Can you give me the dimension of the image you ran TrackMate on please?

[2018-12-12 23:13] squinnlee commented on #131
My image is 20.48x20.48 microns (512x512); 32-bit, 121 MB. I tried converting the file to 8-bit and still got an error. I have also tried one of ImageJ's sample images that was 513x282 pixels; 8-bit, 141 kb to no avail.
If you need the calibration settings, screenshots, or anything else, please let me know.
Thank you!

[2018-12-12 23:14] squinnlee commented on #131
I forgot to include: My image has 121 time points

[2018-12-13 08:57] imagejan commented on #131
Might be related to https://github.com/imglib/imglib2-algorithm/issues/77 and recent changes in the `net.imglib2.algorithm.gauss3.Gauss3` implementation.

Would be worth checking if it still occurs with `imglib2-algorithm-0.11.1`.

[2018-12-13 23:07] squinnlee commented on #131
Hopefully this is a small bug. Thank you so much for your help!

[2019-01-24 19:41] tinevez commented on #131
Sorry I still lack the time to do it....

[2019-01-25 21:17] ctrueden commented on #131
@tinevez Do you need assistance? Are you able to post an MCVE here?

[2019-01-26 14:35] #131 closed

[2019-01-26 14:35] tinevez commented on #131
Found it!
It was a dimensionality issue with the sigma array used in the `Gauss3` calls.

[2019-04-17 23:29] jeffreyeyeung opened #133 "Spots in track statistics for Splitting Events"
Hi @tinevez,

Apologies if this has a simple solution but when a track has a splitting event, exporting spot statistics seems to ignore it, showing statistics for only one spot even after the split event.

Is there a way to get statistics on all spots even after the splitting event? Thanks for any help.

[2019-07-05 17:09] SarenT opened #134 "Starting trackscheme within script, doesn't synchronize selections with hyperstackdisplayer"
Hi,

I am writing a script to load an existing TrackMate file, find some spots of interest and select them in TrackScheme and HyperStackDisplayer at the same time for the user to correct them manually.

When I open the TrackScheme within the script I can select the spot but when I select a new spot in HyperStackDisplayer, TrackScheme doesn't focus on the new spot. Subsequent manual selections aren

[2019-09-01 02:36] cynashirazinejad opened #135 "Inputting hand-generated XML with detected spots for interfacing with TrackMate's linking algorithms"
Hi!

I have generated an XML file in a format resembling one generated by the TrackMate GUI with my own detection/filtering scripts that creates instances of spots throughout the frames of my movie. I was hoping to link this directly into TrackMate with a Python script. This would be analogous to loading an XML file into the GUI as an intermediate between filtering>detection and tracking. Is this

[2019-09-05 11:13] tinevez commented on #135
Hello Cyna.
I saw you asked this question on the forum. I am therefore closing this issue.

[2019-09-05 11:13] #135 closed

[2019-09-05 11:14] #91 closed

[2019-09-05 11:15] #88 closed

[2019-09-05 11:16] tinevez commented on #134
Hello @SarenT

Can you ask this question on the forum.image.sc, as it concerns a script and not the core code of TrackMate?
Thanks!

[2019-09-05 11:16] #134 closed

[2019-09-05 11:17] tinevez commented on #133
Hello @jeffreyeyeung

This does not sound right at all.
Can you give me a way to reproduce the issue?

[2019-09-05 11:18] #125 closed

[2019-09-05 11:18] #121 closed

[2019-09-05 11:20] tinevez commented on #115
_Do when I am commissioned to._

[2019-09-05 11:20] tinevez commented on #126
_Investigate_

[2019-09-05 11:21] #110 closed

[2019-09-05 11:23] tinevez commented on #106
Humm I cannot reproduce the issue with current version so I am going to close it for now.
Please reopen it if it happens for you.

[2019-09-05 11:23] #106 closed

[2019-09-05 11:24] tinevez commented on #15
This would be better suited to MaMuT and/or Mastodon.

[2019-09-05 11:24] #15 closed

[2019-09-05 11:25] #24 closed

[2019-09-05 11:25] #53 closed

[2019-09-05 11:26] tinevez commented on #63
Done along with the TrackMate publication in 2017.
Documented in the manual.

[2019-09-05 11:26] #63 closed

[2019-09-05 11:27] tinevez commented on #74
Current version takes into account a ROI, even freehand, for detection.

[2019-09-05 11:27] #74 closed

[2019-09-05 11:27] tinevez commented on #81
Hi @thorstenwagner
Is there an update to report about this issue?

[2019-09-05 11:27] #81 closed

[2019-09-05 11:28] #82 closed

[2019-09-05 11:28] #87 closed

[2019-09-05 11:29] #92 closed

[2019-09-05 11:29] #99 closed

[2019-09-05 11:31] tinevez commented on #101
Actually specifying the extension allows for exporting to different formats.
So an extension IS required.

[2019-09-05 11:31] #101 closed

[2019-09-05 11:31] tinevez commented on #111
I did not :(

[2019-09-05 11:31] #111 closed

[2019-09-05 11:32] tinevez commented on #113
_Investigate_

[2019-09-05 11:32] tinevez commented on #117
_Do when I am commissioned to_

[2019-09-05 11:32] tinevez commented on #119
No news.

[2019-09-05 11:32] #119 closed

[2019-09-05 12:42] ctrueden commented on #117
@tinevez We could make a `for-hire` label?

[2019-09-05 12:44] ctrueden commented on #113
@tinevez I suggest using one of GitHub's tools for flagging it, so you remember. You could assign yourself, and/or create an `investigate` or `to do` label and add that.

[2019-09-05 13:05] tinevez commented on #126
Ok I tested the export to Icy, and it seems to work:

![TrackMateInIcy](https://user-images.githubusercontent.com/3583203/64344277-709cc880-cfee-11e9-8327-f942460222d4.PNG)

They way I got this working was to use the `Export tracks to Icy` action in the last panel of TrackMate. It generates a new XML file that can directly be opened in the Icy TrackManager. Do not use the `Import TrackMate` action

[2019-09-05 13:05] tinevez commented on #126
Pining @KrishnaMudumbi

[2019-09-05 13:24] tinevez opened #136 "The ManualDetectorFactory should not return a null detector."
... because when we use it in a script, it crashes it.

Instead it should return a dummy detector that does nothing, not even remove spots, so that it can be used as a placeholder in scripts that import spots from another source than TrackMate.

https://github.com/fiji/TrackMate/blob/master/src/main/java/fiji/plugin/trackmate/detection/ManualDetectorFactory.java#L48

[2019-09-05 13:45] #136 closed

[2019-09-05 22:12] dnmason opened #137 ""Z/T swapped?" dialog removes temporal calibration if accepted"
Run the following IJ1 script in Fiji:
[code]
You'll be presented with the following dialog:
![Swapped_z_t](https://user-images.githubusercontent.com/7047957/64386839-145b9800-d032-11e9-8b24-26a1d14c6ce6.PNG)
If you select yes, the temporal calibration will be reset to "1 frame". If you hit no, the calibration will be unaffected.

![Swapped_z_t_calibration](https://user-images.githubusercontent.com

[2019-09-06 11:09] #137 closed

[2019-10-15 09:03] DeboraOlivier opened #138 "plugin error java"
issues on TrackMate
`SET
0.0  65535.0
TrackScheme style file /Users/dekeller/.mastodon/trackschemestyles.yaml not found. Using builtin styles.
Bdv style file /Users/dekeller/.mastodon/rendersettings.yaml not found. Using builtin styles.
ColorMap file /Users/dekeller/.mastodon/colormaps.yaml not found. Using builtin colormaps.
Feature color mode file /Users/dekeller/.mastodon/colormodes.yaml not fo

[2019-10-15 10:36] #138 closed

[2019-10-17 13:19] yifnzhao commented on #82
Hi folks, not sure if this has been solved but for my analysis I have written a python script to get the tracks and links statistics from TrackMate xml files, in addition to the spots which can be extracted by [pytrackmate](https://github.com/hadim/pytrackmate) repo. Please feel free to fork and make use of [it](https://github.com/yifnzhao/TrackMate_XML_to_CSV).

[2019-11-10 22:12] SarenT opened #139 "Features request: jump to next frame after adding a track"
Some colleagues of mine prefer the more inferior tool (manual tracking) due to the simplicity of manual tracking. Advantage there is that once user starts clicking to add spots, video jumps automatically to the next frame. User interaction is minimized by 1 click per spot instead of clicking + scrolling. This seems to be a small difference but manual tracking is exhaustive and any ease of use is w

[2019-11-18 15:42] MaximeMaW opened #140 "Bug in "Capture Overlay""
Hello!
I have the feeling that when running the "export overlay" option, the first frame of the movie is not included.

**Steps to reproduce**:
- Track a movie (I tried with a 3D movie, but I don't think that it matters)
- Capture overlay on frame 1 (*from:* 1 *to:* 1)
- Look at the resulting image: it is frame 2, and not frame 1.

I haven't found a simple way to circumvent this. Would you have an

[2019-11-19 07:24] tinevez commented on #140
Hello @MaximeMaW
You are perfectly right!
The capture starts at the 2nd frame. The last frame is added a second time at the end of the capture.
I guess I mixes things up with 0-based vs IJ 1-based indexing.
Thanks!

[2019-11-19 11:55] #140 closed

[2019-11-19 11:56] tinevez commented on #126
Any news? @KrishnaMudumbi
I will close this issue for now. Please reopen if the problem appears.

[2019-11-19 11:56] #126 closed

[2019-11-19 11:56] tinevez commented on #133
Hello @jeffreyeyeung
Any news?

[2019-11-19 11:59] tinevez commented on #139
Hi @SarenT
This is a good idea, but I am frowning about it for now.
With the auto-link mode (`L`) when we create a spot it is immediately linked to the one previously selected.
I feel like if we move immediately and automatically to the next frame after that, we loose the possibility to check that the new spot and link are consistent.
What I do in practice is using the keyboard 'G' key to move in

[2019-11-19 11:59] #139 closed

[2019-11-19 12:16] MaximeMaW commented on #140
Awesome, many thanks, that was such a quick fix!!!

[2019-11-20 20:34] SarenT commented on #139
Hi @tinevez,
I agree that this may confuse users. But optionally, another mode with another key can be implemented. When both auto-link and auto-move-next are activated, then it moves to next frame after adding a spot. Otherwise, it doesn't. Users can still scroll or follow TrackScheme on another window for checks.
G and A are still two clicks. If each track consists of >100 of points with multipl

[2019-11-21 18:16] jeffreyEdgarYeung commented on #133
Apologies for the late response. It turned out to be a case of malformed input. After re-running track mate, I was able to finds statistics for both tracks.

[2019-11-21 20:22] tinevez commented on #133
Ok! Thank you for this update.
Closing the issue.

[2019-11-21 20:22] #133 closed

[2019-12-17 10:23] tinevez commented on #113
Bug confirmed.

[2019-12-17 12:38] tinevez opened #141 "Linear LAP Tracker does not nucluate new tracks late in the movie."
Noticed by several people, see https://forum.image.sc/t/linear-motion-lap-tracker-maximal-amount-of-tracks/32099

[2019-12-17 13:27] eidevag opened #142 "Cannot run CaptureOverlayAction without GUI object"
As discussed in https://forum.image.sc/t/scripting-to-export-track-movies-using-the-captureoverlayaction-function/11594 its not possible to run the CaptureOverlayAction without a GUI object which would be a nice feature to speed up running in batch.

[2019-12-19 12:14] #142 closed

[2019-12-19 12:14] #113 closed

[2019-12-19 12:14] #141 closed

[2020-01-20 17:40] matthiasLEBEC commented on #82
Hey I had this exact problem:
I want to export the output table of the spotdetection "ExportAllSpotsStatsAction().execute(trackmate)"
This table is open in a ImageJ table that at first I had trouble to save using a command.

Finally I did this and it seems to work just fine:
`from ij import IJ, ImagePlus, ImageStack
dir = "D:/Matthias_LE_BEC/ImageAnalysis/ImageJ_CustomMacro/"
IJ.saveAs("text",  di

[2020-02-06 04:12] SosUts opened #148 "Nearest Neighbor(NN) search returns different result per each trial"
Hi, I'm using TrackMate for single molecule analysis.
I noticed that NN search produce different spot linking results(e.g. number of tracks) even though the parameters are exactly the same.
Number of spots are always the same.
Why does this happen?
Is pseudo random numbers used in NN?

I'm not a native English speaker, I'm sorry for my poor English...
**What I want to say**
Spot detection(number o

[2020-02-06 10:19] imagejan opened #149 "Use existing SciJava Context instead of creating new one"
A new SciJava `Context` is created in two places in the `TrackMate` codebase:

https://github.com/fiji/TrackMate/blob/be62ab107ba5e5b6d6cfa0acc344e31da8da829f/src/main/java/fiji/plugin/trackmate/providers/AbstractProvider.java#L38

https://github.com/fiji/TrackMate/blob/be62ab107ba5e5b6d6cfa0acc344e31da8da829f/src/main/java/fiji/plugin/trackmate/providers/ViewProvider.java#L75

Instead of creating

[2020-02-06 10:36] imagejan opened #150 "TrackMate uses SciJava priorities in an inversed way"
TrackMate implements its own way of handling SciJava priorities.

While this is documented in the [wiki tutorial for developers](https://imagej.net/How_to_write_your_own_spot_feature_analyzer_algorithm_for_TrackMate#Using_SciJava_priority_to_determine_order_of_execution), it is not obvious from looking at the [example code](https://github.com/fiji/TrackMate-examples/blob/bf184b74569231551c8c5055b5

[2020-02-06 11:22] tinevez commented on #148
Yep.
See our discussion here:
https://forum.image.sc/t/nearest-neighbor-nn-linking-in-trackmate-returns-different-result-per-each-trial/33696/3

[2020-02-06 11:22] #148 closed

[2020-02-06 11:24] tinevez commented on #150
True.
I was young at the time.

[2020-02-06 17:23] ctrueden commented on #150
You shouldn't have to sort at all, because all those `PluginService` methods for retrieving plugins should already return results ordered by priority.

[2020-02-06 20:43] #149 closed

[2020-02-09 04:36] snownontrace opened #152 "Semi-automatic tracking fails with multi-channel image sequences"
The semi-automatic tracking tool is a great help for manual tracking. It works like a charm when a single-channel image sequence was used. However, when working with multi-channel images, however, it gives the following error message:

[code]

It will be great if it can settle with the current channel. Thanks!

[2020-04-30 11:04] tinevez commented on #150
This branch is going to be deleted so we should fix this issue again in another branch maybe.

[2020-04-30 21:01] ctrueden commented on #150
@tinevez I filed #154 with this patch over the latest master. I hope that's what you meant.

[2020-04-30 22:22] #150 closed

[2020-06-03 03:02] ShuhaoGithub opened #156 "How to use the Run_TrackMate_Headless.groovy file"
Thank you for the fantastic plugin. May I ask how to use the Run_TrackMate_Headless.groovy? I tried to run it as a macro program but it did not work. Thank you!

[2020-06-19 13:03] imagejan commented on #156
@ShuhaoGithub several options:

* drag it to your Fiji window, then it'll open in the script editor, and you can press <kbd>Run</kbd>
* save the file into a subdirectory of `Fiji.app/scripts/`, (e.g. `Fiji.app/scripts/MyScripts`), then it will be available as a menu command (*MyScripts > Run TrackMate Headless*) and will be recorded by the macro recorder.

Hope that helps.

For further questions l

[2020-06-19 13:04] #156 closed

[2020-08-04 11:11] SimonaKavaliauskiene opened #157 "Measuring intensities before and after the tracking event"
I would like to use TrackMate to measure whether binding of the protein (the tracking events I am measuring) affects the signal in another channel (reporter protein). To do so, I need to have the baseline (signal intensity during 3-5 frames before and after detection happened; in the same area as the start and the end of the event) for the channels. I am considering trying to add this functionalit

[2020-08-17 10:29] mahdilamb opened #158 "Error in SpotNeighborhood"
Line 126 of fiji.plugin.trackmate.util.SpotNeighborhood says

`return neighborhood.realMax( d );`

but should be realMin

[2020-08-17 10:44] Raghavendrapara commented on #158
Correctly spotted.

[2020-08-17 12:46] tinevez commented on #158
Gosh! Thanks!

[2020-08-17 12:46] #158 closed

[2020-09-01 12:26] BesseLaetitia opened #159 "Problem_Track Analysis Extension and TrackMate v6.0.0"
Hello,
Following the update of Fiji, we noticed a problem by using the version TrackMate v6.0.0 associated with the extension Track Analysis downloaded from https://imagej.net/TrackMate.html#Extensions. For this extension, we downloaded the .jar files.
In fact, we got an error (see red lines below) and we obtained a table Tracks statistics with columns filled with "None" values.
Do you know how to

[2020-09-01 12:33] Raghavendrapara commented on #159
trackValueFeatures Map seems like un initialised. trackID key's corresponding Value is giving a Null Pointer Exception.

Seems some new code calls the FeatureModel class without calling appropriate method for intialising the Map.

[2020-09-01 14:49] tinevez commented on #159
Hello @BesseLaetitia and @Raghavendrapara

Could you please try again with the latest version of TrackMate and TrackAnalysis we just released?
you can find them here:

https://maven.scijava.org/service/local/repositories/releases/content/sc/fiji/TrackMate_TrackAnalysis/1.0.1/TrackMate_TrackAnalysis-1.0.1.jar

https://maven.scijava.org/service/local/repositories/releases/content/sc/fiji/TrackMate_/

[2020-09-02 06:44] BesseLaetitia commented on #159
Hello @tinevez

Thank you for your quick answer. I tested your last version and it works very well for us now.

Thank you very much.

Have a nice day.

Laetitia

[2020-09-02 07:26] tinevez commented on #159
Thanks for the feedback.
If you update Fiji now you will receive these two new versions normally, which fixes the bug.

[2020-09-02 07:26] #159 closed

[2020-12-17 18:40] ShaunChristie commented on #126
Hi,
I am experiencing the exact same error code as above, was there ever a specific resolution to the error? For me, this error does occur at the last panel of the Trackmate GUI when using the 'Export tracks to Icy' action. If I just attempt to load an xml file into Icy (produced by the 'Export tracks to xml file' action instead) then the error code there reads "TrackSegment : The detection must b

[2020-12-30 12:19] phisanti opened #168 "Adding github/fiji/TrackMate to update site?"
Hi,

I have been looking into the code of the GitHub version of TrackMate and I can see there are some interesting functions such as `SpotFitEllipseAnalyzerFactory`. Thus, I was wondering if it would be worth it to add the https://github.com/fiji/TrackMate site directly to the ImageJ update sites list. Does that makes sense?

[2021-01-01 00:23] tinevez commented on #168
Hello.
I got carried away and starting pushing unstable, devel code in the master.
I am currently working on the version 7 of TrackMate that will include this AND also work.

[2021-01-01 00:29] #168 closed

[2021-02-13 18:46] Majahonkhe commented on #126
The 'Export tracks to Icy' error seems to be an issue with the later versions of Trackmate (v6.0.1 in my case). This export function works fine in the older version (v5.2.0).

[2021-06-18 05:25] kmshort commented on #126
I'm having this issue with TrackMate 6.0.3
[code]
This happens at the final page, using "Select a action" and "Export tracks to Icy".

[2021-06-18 05:38] kmshort opened #173 "Export tracks to Icy fails"
Hi,

On the final TrackMate page, using "Select a action" and "Export tracks to Icy" throws the exception:

[code]

This was previously reported, thread closed, 2 people since posted that they had the same issue and it wasn't resolved. It's still happening now.
ImageJ 1.53c, Windows. Latest Fiji version, freshly downloaded and unpacked.
TrackMate 6.0.3

thanks

[2021-06-18 07:39] tinevez commented on #126
Hello.
Sorry I still cannot reproduce this bug. The export from TrackMate and the import in Icy still work.

[2021-06-18 07:42] tinevez commented on #173
Hello.

I could not reproduce this bug.

Can you tell me how to make it happen?

[2021-06-18 07:54] kmshort commented on #173
Download the stock Fiji windows version from the website.
Open an image sequence, convert to hyperstack, and run TrackMate.
Add the spots, generate the tracks.
Get to the end and "Select a action" and "Export tracks to Icy". It'll throw an exception.

Do you have a trial dataset we can use to see if our errors happen with that?
thanks.

[2021-06-18 08:02] kmshort commented on #173
My data is 423x387x7 (x,y,z) with 189 time points, 2 channels. The data voxel sizes are approx 0.63x0.63x4 (xyz). These are set prior to TrackMate running (using Image>Properties in ImageJ), and TrackMate6.0.3 detects the correct dimensions and pixel/voxel dimensions at the start.
Tracks are just on one channel of course.

[2021-06-18 08:19] tinevez commented on #173
ok. I suspect a bug that occurs only with some data. I tried with the default dataset and it works.
Would you be ok to send me the TrackMate XML file? I think I could debug this with just the XML.

[2021-06-18 09:24] tinevez commented on #173
@kmshort  I tested with the default dataset and could not reproduce. This is why I wish I could test with yours.

[2021-06-24 07:13] tinevez commented on #173
Hello @kmshort. Any news?

[2021-06-24 07:14] tinevez commented on #157
Hello @SimonaKavaliauskiene. I am closing this issue for now, as there is no follow up that I know of.

[2021-06-24 07:14] #157 closed

[2021-06-24 07:20] tinevez commented on #152
Hello @snownontrace

Sorry I only looked at the problem now. Since your report I have been working on the future version of TrackMate (v7) that should be out this summer. At least in this version, the bug is not there.
Please let met know if you see it happening again after the new version release.
Thanks

[2021-06-24 07:20] #152 closed

[2021-06-24 07:23] tinevez opened #174 "Upload drjekyll fontchooser library."
The new display settings use this library to configure the font.
So we need to upload it or to rely on @imagejan wrapping library in SciJava (which would probably be best).

Without it, here is the error message the current version (v7.0.1) of TrackMate generates:

[code]

[2021-06-24 09:19] imagejan commented on #174
For completeness, here's the link to the wrapping library: https://github.com/scijava/scijava-ui-swing-fonts

[2021-06-24 09:30] tinevez commented on #174
If it is uploaded to Fiji we could modify TrackMate to use this instead.

[2021-06-24 12:26] imagejan commented on #174
I can cut a release and add `scijava-ui-swing-fonts` to the version management in `pom-scijava`, and as a dependency in `fiji/fiji`, if everybody is fine with that, so it gets included in future Fiji uploads.

@tinevez you mentioned issues with font styles here: https://github.com/scijava/scijava-ui-swing-fonts/commit/0d3e6182c3ad33537358917b69ab9b6bcd539be6#commitcomment-45291095, did you follow

[2021-06-24 13:17] tinevez commented on #174
1. I am still working on it. I will post my progresses here.

2. Ok so you advice sticking to the `fontchooser`upload?

[2021-06-24 13:28] imagejan commented on #174
Not necessarily. I just had the impression that you currently aren't using the SciJava Swing widgets for any other UI components, are you? So I don't know how much you gain from having a `@Parameter Font` when all you do is invoking the `FontDialog` from your own UI button anyways.

[2021-06-24 13:30] tinevez commented on #174
Correct.

[2021-06-24 15:44] tinevez opened #175 "Upload javaGeom."
The new Overlap tracker requires the javaGeom library.
Again we need to see whether we can upload it with Fiji.

[2021-06-24 15:47] tinevez opened #176 "Upload newer version of OpenCSV to Fiji."
Fiji ships the v3.9 of OpenCSV but the version declared in the scijava parent pom 30.0.0 is v5.2. We need to upload this one.

[2021-06-24 15:52] tinevez opened #177 "The tables exported from the charts do not show all data points."
The feature grapher (penultimate panel in the GUI) allows generating graphs of feature values for TrackMate object.
It may happen that there are several data points for one X value.
For instance, when plotting the quality against time for all spots, there will be several Y values for one X as soon as there is more than one spot per frame.

The chart can plot this correctly. But when we export tabl

[2021-06-24 19:18] imagejan commented on #176
The state of the *Java-8* update site is currently in sync with `pom-scijava-29.2.1` (except for some artifacts that were uploaded manually), whereas the update to OpenCSV 5.2 happened in `pom-scijava-30.0.0`. Please wait for the big Fiji upload by @ctrueden to avoid any breakages.

[2021-06-25 06:47] tinevez commented on #174
Acknowledge https://gitlab.com/dheid/fontchooser

[2021-06-25 06:48] tinevez opened #178 "The icon for the gaussian fit action is too big."
![image](https://user-images.githubusercontent.com/3583203/123382450-4258f600-d592-11eb-9d64-ff0241917d8c.png)
Beurk.

[2021-06-25 07:22] #178 closed

[2021-06-27 17:56] #177 closed

[2021-07-04 09:28] zkhodzhaev opened #180 "Tracking a donut shape"
hello,

is it possible to track this object:
![image](https://user-images.githubusercontent.com/21960382/124380054-f257ee80-dc77-11eb-9994-f3c68d5f1764.png)

Thanks

[2021-07-04 09:34] tinevez opened #181 "Exporting a chart to PDF does not work if the number of panels is > 1"
The grapher shows one panel per dimension to plot. For instance:
![image](https://user-images.githubusercontent.com/3583203/124380036-e7727d80-dcba-11eb-9e55-bd5ddf113a83.png)

Exporting the top one to pdf works fine:
![image](https://user-images.githubusercontent.com/3583203/124380061-08d36980-dcbb-11eb-8823-8890cd4a56f5.png)

But the second one does not get exported properly:
![image](https://us

[2021-07-04 09:36] tinevez commented on #180
Hello.
Not yet, but with the future version 7 it will.
Version 7 will be released later this summer, we got delayed sorry.
Don't hesitate to discuss usage on the image-sc forum:
https://forum.image.sc

[2021-07-04 11:17] #181 closed

[2021-07-04 11:26] tinevez opened #182 "Upload batick-codec"
The SVG export of charts require batik-codec to be in the classpath, lest an exception is thrown:

[code]

This problem is caused when the artifact `batick-codec` is not on the classpath.
See https://stackoverflow.com/questions/16138850/batik-svggraphics2d-nullpointerexception-when-drawing-image

[2021-07-20 11:16] zkhodzhaev opened #183 "Tracking 1 object/ making the path Bold"
Hello,

I tried Trackmate, and it gives all tracks at the same time. Also, the path's thickness is very thin and it's hard to use it for publications (small figures)

1. is there a way to track only one object (among many)?
2. How to make the track bold? or e.g. change the background from black to white ?

Thank you for your help.

[2021-07-20 11:54] tinevez opened #184 "NPE when changing the name of a track in TrackScheme."
When I change the name of coloum of a track, I often get the “Exception in thread “Run$_AWT-EventQueue-0” java.lang.NullPointerException”, then what I have done before will all get LOST :frowning: I can’t click the “re-layout” and can not save this file.

[code]

Reported here:
https://forum.image.sc/t/analyzation-bug-for-trackmatescheme/55433/2

[2021-07-26 13:24] #184 closed

[2021-07-26 15:43] imagejan commented on #183
As these are _usage_ questions, I'd recommend asking them on https://forum.image.sc rather than here on GitHub.

You can filter tracks in the UI wizard, e.g. by trackID or any track feature, does that help?

[2021-07-27 15:21] tinevez commented on #173
Closing for now.

[2021-07-27 15:21] #173 closed

[2021-07-27 15:22] tinevez opened #185 "TrackMate does not free up RAM when closing."
If I track a 250MB image (one coming from the ISBI SPT challenge, VIRUS snr 7 density high) I see it at the end of the tracking. I document here quickly the RAM usage followed with the Monitor Memory tool (it is not relevant to check RAM usage from the Windows tool).
Every value I report are the one reported by the tool after garbage collection.
I used the devel version of TrackMate for the test.

[2021-07-27 15:31] NicoKiaru commented on #185
@tinevez I'm curious to know how you deal with this. Visualvm + eclipse MAT?

[2021-07-27 16:00] tinevez commented on #185
I am actually using the YourKit Java profiler, making a RAM snapshot.

[2021-07-27 16:34] tinevez commented on #185
Hum I am afraid I am failing big time on this one.
I cannot manage to identify the culprit with my method.
Still trying.

[2021-07-27 19:47] ctrueden commented on #185
@tinevez Just a guess: is it possible that some `JFrame` or `JDialog` objects are not being disposed when closed? I see you have some `setDefaultCloseOperation( WindowConstants.DISPOSE_ON_CLOSE );` calls, but there are quite a few different `new JFrame` and `extends JFrame` invocations in TrackMate, most of which are not set to dispose on close.

I pushed a branch `dispose-on-close` where I tried

[2021-07-28 14:17] NicoKiaru commented on #185
I've got this:

![image](https://user-images.githubusercontent.com/20223054/127338317-852bb857-6074-4530-9d3f-727bc5f7377e.png)

A lambda in FilterGuiPanel

[2021-07-28 14:19] NicoKiaru commented on #185
Maybe linked to a thread which is not stopped:
![image](https://user-images.githubusercontent.com/20223054/127338688-49b04142-7938-4ea4-966a-dfc759b39e17.png)

[2021-07-28 16:46] NicoKiaru commented on #185
When butchering out the `OnRequestUpdater` thread and the `PainterThread` in `WizardPanel` I get this chain:

![image](https://user-images.githubusercontent.com/20223054/127363089-b81536e8-9fbf-44c3-b822-bf7572df0317.png)

[2021-07-28 17:20] NicoKiaru commented on #185
Add after removing the ImagePlus keys in `displayers` of `SpotEditTool`:

![image](https://user-images.githubusercontent.com/20223054/127367524-81680f14-e1ad-4c5f-93bd-1fcd7cdcbdf4.png)

Not sure this is going to end

[2021-09-03 18:00] ctrueden commented on #176
I ran the melting pot on Fiji with TrackMate 7.0.3. Here are the failures:

| Component                           | Reason |
|-------------------------------------|--------|
| sc.fiji/fiji                        | TBD    |
| net.imagej/imagej-notebook          | TBD    |
| net.imagej/imagej-ops               | TBD    |
| net.imglib2/imglib2-label-multisets | TBD    |
| net.imglib2/imglib2-roi

[2021-09-04 01:46] ctrueden commented on #176
* Need to release pom-scijava 31.0.0 with several preemptive version bumps to address the `TrackMate_`-to-`TrackMate` rename, with at least the following:
    * FilamentDetector 1.0.1
    * MaMuT 0.30.1
    * imagej 2.3.0
    * fiji 2.3.0
* Need to track down why the melting pot is detecting an opencsv 2.1 in addition to opencsv 5.2. Might be due to two different groupIds, maybe the very old `au.c

[2021-09-04 09:53] tinevez commented on #176
# MaMuT

MaMuT has been brought in line with the new TrackMate v7 series.
- It has been renamed from `MaMuT_` to `MaMuT`
- Version 7.0.1 has been released.

It is based right now on `pom--scijava v30.0.0` but I had to enforce certain imglib2 artifact versions:
[code]

[2021-09-04 11:29] tinevez commented on #176
# Mastodon.

Still working on it. I have a JUnit test for an exporter that fails for now, I am still investigating here: https://github.com/mastodon-sc/mastodon/tree/dev

However, this SNAPSHOT depends on TrackMate v70.4 and MaMuT v7.0.1 and works.
I removed the exclusion section for `jgrapht` in the MaMuT dep declaration, and this did not seem to have a negative impact on the deploy to Fiji thing

[2021-09-04 11:30] tinevez commented on #176
# TrackMate-extras and TrackMate-TrackAnalysis

They can be **entirely removed**. Their features have been merged into the new TrackMate.
I will archive the repos after the mega melt.

[2021-09-04 11:31] tinevez commented on #176
# fmi-trackmate-addons

I have a made a PR for the TrackMate update here: https://github.com/fmi-faim/fmi-trackmate-addons/pull/18

Still under review by @imagejan

[2021-09-16 09:49] tinevez commented on #183
Solved with v7 of TrackMate.

[2021-09-16 09:49] #183 closed

[2021-09-16 09:49] tinevez commented on #182
Solved with TrackMate v7, released today.

[2021-09-16 09:49] #182 closed

[2021-09-16 09:49] tinevez commented on #176
Solved with TrackMate v7, released today.

[2021-09-16 09:49] #176 closed

[2021-09-16 09:50] tinevez commented on #174
Solved with TrackMate v7, released today.

[2021-09-16 09:50] #174 closed

[2021-09-16 09:50] tinevez commented on #175
Solved with TrackMate v7, released today.

[2021-09-16 09:50] #175 closed

[2021-09-16 09:50] tinevez commented on #115
Solved with TrackMate v7, released today.

[2021-09-16 09:50] #115 closed

[2021-09-18 19:43] haesleinhuepf opened #186 "Don't draw connections between data points in plots"
Hi all, hi @tinevez ,

I'm just playing with the new trackmate (7.0.5) and plotting parameters such as area over time (spots) and speed over edge time (links). In the plot, the data points are connected, and I'm not sure if they should be:
![image](https://user-images.githubusercontent.com/12660498/133906731-76234021-4fff-4a69-96d6-02625a830809.png)

Is there a way to turn the lines between the da

[2021-09-19 09:41] tinevez commented on #186
Hello Robert.

The dots are connected when two of the plotted objects are linked in the model.
For instance in the graph above, two dots are connected when the 2 links they represent share a common spot. It is super handy to follow a lineage and how numerical features change over time.
It was not working that well in version <7.

Your suggestion to not plot the connections is a good one. Especiall

[2021-09-19 09:43] tinevez opened #187 "Allow for programmatically retrieve the log text content."
See https://forum.image.sc/t/get-trackmate-log-in-action/57731

[2021-09-19 16:16] haesleinhuepf commented on #186
Cool! Thanks for the explanation Jean-Yves 🙂

The new plots are indeed more versatile. I like the colors also!

[2021-09-20 07:21] amitshakarchy opened #189 "TrackScheme doesn't sort tracks by their index"
Hi all, hi @tinevez ,
I was trying to edit tracks using TrackScheme, and found it difficult working with the current way of sorting tracks.
trackIDs are sorted as you can see below, instead of in a regular order (1,2,3, etc.)
<img width="887" alt="Screenshot 2021-09-20 101243" src="https://user-images.githubusercontent.com/58327011/133967515-eabb0742-f60d-41bd-b09d-607ff0f5dcc7.png">

I tried to p

[2021-09-20 07:34] tinevez commented on #189
Hello @amitshakarchy

Normally the track should be sorted in alphanumerical order, so you should get something like Track_0, Track_1, Track_2, ..., _Track_10.
If it does no, it's a big and I will investigate.

[2021-09-20 11:40] #187 closed

[2021-09-20 15:49] #189 closed

[2021-09-21 14:07] a-bio90 opened #190 "export as ROIs"
Hello,

In previous versions of TrackMate it was possible to export spot/cell detections directly as ROIs with an extra script. Is there a way to achieve the same in the current version of the plugin (v7.0.5)? If so, how?

Many thanks

[2021-09-24 14:25] BioinfoTongLI opened #191 "Multi-column names when exporting spots as csv (v7.0.6)"
Hi @tinevez,

Great to see the new versions of Trackmate! Can't wait to try them out!

I've noticed that the CSVs exported from `spots` button (prevously `Analysis`) have multiple column labels as below.
[code]
Is this expected?

And also, it seems that less parameters are exported by default, e.g. Total_intensity, Estimated_diamter etc.
Is there any possibilty to get them back?

I am running v7.0

[2021-09-25 21:03] tinevez commented on #191
Hello @BioinfoTongLI

Yes this is expected. The 4 first header lines are respectively:
- the feature key
- the feature name
- the feature short name
- the feature units

Also we removed some feature analyzers in v7 as you noticed. They are detailed here:
https://github.com/fiji/TrackMate/releases/tag/TrackMate-7.0.4

[2021-09-25 21:03] #191 closed

[2021-09-25 21:04] tinevez commented on #190
Hello. Sorry no way yet.

[2021-09-30 10:20] giocard opened #192 "TrackMate GUI not starting when the GDSC update site is activated"
This is the error message

[code]

[2021-09-30 10:49] aherbert commented on #192
The GDSC plugin is based on TrackMate 6. TrackMate recently reworked the entire codebase for [version 7](https://github.com/fiji/TrackMate/releases/tag/TrackMate-7.0.4). The two plugins are incompatible.

The solution would be to remove TrackMate features from the GDSC plugin and move them to a separate GDSC TrackMate plugin which can be enabled separately.

What part of the GDSC plugin are you us

[2021-09-30 11:23] tinevez commented on #192
I can also help migrating GDSC to TrackMate v7. I did it for other plugins.
Who is behind GSDC and what does it do?

[2021-09-30 14:57] giocard commented on #192
@aherbert is the maintainer. The plugin provides several dedicated tools for colocalization, spot detection and cell segmentation. At least these are the functionalities I am aware of.

[2021-10-01 09:12] tinevez commented on #192
@aherbert I can offer to work on your project if you let me. I would try to upgrade the TrackMate part and bring it along the new v7.

[2021-10-01 11:56] aherbert commented on #192
@tinevez Thanks for the offer. I saw your release note on version 7 and it has features I would like to use. Currently I have two addins for TrackMate. One loads precomputed spots. We were using it to load cell locations identified by ilastik. This may be obsolete now if TrackMate directly supports ilastik. The other is a detector that outlines cell nuclei. With the new support for contour outline

[2021-10-01 12:43] aherbert commented on #192
@giocard I have just released the GDSC plugin with no TrackMate features. Please update Fiji and verify this fixes the TrackMate start-up issue.

[2021-10-04 07:42] #192 closed

[2021-10-04 14:02] Glyphus opened #193 "Error with TrackMate 7.0.7. java.lang.NoClassDefFoundError: fiji/plugin/trackmate/gui/ConfigurationPanel"
I'm having an error on multiple system with the new TrackMate release:

Some other user had a similar issue when using the GDSC plugin. However, I am not using that plugin.

I don't know much about programming as you, but tried to have a look at the source code. I found the the class "ConfigurationPanel" under "fiji/plugin/trackmate/gui/components/" and not "fiji/plugin/trackmate/gui/". Can this b

[2021-10-04 14:23] afellows2311 opened #194 "Features are not automatically updated when manual tracking in Trackmate v7"
Hi everyone,

Since updating to the new version of Trackmate the manual tracking no longer seems to be working. It lacks track intensity measure for the spots and gives no information for tracks. This seems to occur on multiple files types. Trackmate still outputs all of these values when you use the automated tracking.

Does anyone have an ideas why this might be occurring? I've re-downloaded Fij

[2021-10-04 15:37] tinevez commented on #194
Hello @afellows2311 and thank you for the report.
You are right! The feature values are not updated when manual tracking. They contain only the basic features:
![Screenshot 2021-10-04 at 17 36 28](https://user-images.githubusercontent.com/3583203/135880890-f0144d5f-5570-4fb1-8c5c-ecc402f5bcac.png)

I will work on a fix.

[2021-10-04 15:38] tinevez commented on #194
While waiting on my fix you can use the action `Recompute all features` in the last panel:
![Screenshot 2021-10-04 at 17 37 45](https://user-images.githubusercontent.com/3583203/135881051-58915188-d243-48dd-8b27-fef55c98931a.png)

It will do what you need.

[2021-10-04 15:40] tinevez commented on #193
Hello @Glyphus

This resembles a conflict with a remaining old version of TrackMate. Do you still have a `TrackMate_-6.x.u` in the plugins folder of Fiji?

[2021-10-04 15:43] afellows2311 commented on #194
Thanks!

[2021-10-04 15:55] Glyphus commented on #193
I have no older Version of TrackMate installed. I did, however, find a solution: I have the TrackMate Batch plugin by chicoronny, which also adds the linear motion LAP tracker (https://github.com/chicoronny/RonnyTrackMate). As far as I know you also contributed to this repository. Deleting this plugin, made TrackMate work again without issue.

Is there a way to implement the linear motion LAP trac

[2021-10-04 16:31] tinevez commented on #193
Mmh I see. I had the same issue with several other projects that depend on TrackMate. The best is to contact  chicoronny and ask him for fix. Of he agrees I can help I vouched to do it for all TrackMate extensions that let me.

[2021-10-04 16:31] #193 closed

[2021-10-05 10:56] #194 closed

[2021-10-05 13:30] #186 closed

[2021-10-05 20:24] haesleinhuepf commented on #186
Awesome thanks @tinevez ! 😍

[2021-10-12 08:46] tinevez opened #195 "Fading tracks in Z does not work if fading tracks in time."
A user noticed that setting the Z-drawing range had no effect: regardless of the settings, all the tracks were painted over all the Zs.

I thought I fixed that. But actually the fix only works for one display mode: `Show entire tracks`. For any other mode, the Z display settings are again ignored.

With `Show entire tracks`
<img width="743" alt="Screenshot 2021-10-12 at 10 45 24" src="https://user

[2021-10-13 10:42] mafsousa opened #197 "Trackmate 7.1 not running"
Hi there,

I just updated Fiji with the new version of Trackmate but now it doesn't start...

Here is the error:
`(Fiji Is Just) ImageJ 2.1.0/1.53f51; Java 1.8.0_172 [64-bit]; Windows 10 10.0; 97MB of 12117MB (<1%)

java.lang.NoClassDefFoundError: fiji/plugin/trackmate/gui/ConfigurationPanel
	at java.lang.Class.getDeclaredConstructors0(Native Method)
	at java.lang.Class.privateGetDeclaredConstruct

[2021-10-14 16:48] #190 closed

[2021-10-18 13:19] #197 closed

[2021-11-09 12:59] tischi opened #201 "Implement an anisotropy parameter for spot fitting?"
@tinevez I think we discussed this already some while ago, but I cannot remember the conclusion. For spots, they are often anisotropic due to the PSF. Would it be possible to accommodate this within TrackMate?

[2021-11-09 15:52] tinevez commented on #201
Yep!
The solution would be to offer a different detector based on the LoG one, but that would alter the size of the kernel along Z. The work would be mainly about duplicating and adapting the UI and the LoG code.

Do you feel like doing it?

[2021-11-09 16:15] tischi commented on #201
Sure 😄

Soooooooooon 😉

[2021-11-25 10:54] lguerard opened #203 "ROI gets converted to overlay when swapping dimensions"
Hi @tinevez

I just noticed that if I have a 3D stack with a ROI drawn on it, if I then call TrackMate and decide to swap Z and T, then the ROI is now an overlay on the image and therefore can't be modified, selected or even removed without going to Image > Overlay > Hide Overlay.

You can try this any 3D sample image in Fiji, like `confocal-series`.

Thanks !

[2021-12-13 20:32] elfring opened #204 "Increase the usage of compound assignment operators"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of compound operators](https://docs.oracle.com/javase/specs/jls/se17/html/jls-15.html#jls-15.26 "Description for assignment operators") accordingly.

Would you like to integrate anything from a transformation result which can be generated by a

[2021-12-16 15:50] wolfgangkeil opened #205 "Trackmate 7 not launching when Imagej started under Matlab with Matlab-ImageJ"
The Trackmate 7 plugin does not launch when started through the GUI from a Fiji instance that was started through the Matlab-Imagej implementation. TrackMate7 launches perfectly fine whenever I start Fiji without using matlab. Furthermore, the TrackMate6 version works perfectly fine when launched the same way throug the GUI of a fiji instance, started with IJM.

 It seems like it's not finding som

[2021-12-16 16:40] tinevez commented on #205
Hello and thank you @wolfgangkeil

I will look into it.
Can you give a step by step procedure, with what to install as update sites, so that I can reproduce the error?
Thanks.

[2021-12-16 17:15] wolfgangkeil commented on #205
Hey,

I installed the following update sites:

ImageJ
Fiji
Java8
Image-MATLAB
TrackMate-Ilastik
TrackMate-MorphoLibj
TrackMate-StarDist
TrackMate-Weka
TrackMate-TrackMateCSVImporter

I am launching Fji in Matlab through

javaaddpath('/home/keil-workstation/fiji-linux64_trackmate7/Fiji.app/jars/ij-.53f.jar');
addpath('/home/keil-workstation/fiji-linux64_trackmate7/Fiji.app/scripts');
ImageJ;

Best,

[2021-12-16 17:55] wolfgangkeil commented on #205
Not sure it helps, but upon launching ImageJ in Matlab, I get the following Warnings in the Matlab command window:

Warning: replacing context classloader with incompatible classloader because ImageJ was not found.
java.lang.IllegalArgumentException: Cannot handle replace call to addCheckbox in ij.plugin.FolderOpener's boolean showDialog(ij.ImagePlus imp, java.lang.String[] list)
at net.imagej.pat

[2021-12-17 09:19] tinevez commented on #205
Hello @wolfgangkeil

Actually you want to launch Fiji stuff in MATLAB using a special repo dedicated to interoperability. Check this to configure your Fiji for MATLAB:
https://imagej.net/scripting/matlab

Then TrackMate should work normally, for instance check  this demo that  uses it:
https://imagej.net/plugins/trackmate/using-from-matlab

[2021-12-30 12:22] tinevez opened #206 "TrackMate crashes when saving."
A spot feature (what one is to be determined) has missing information (`isInt()`) that crashes the XML writer when saving. Here is the NPE:

[code]

The faulty line:
https://github.com/fiji/TrackMate/blob/4abaaf180f34728845df69abe83ff5efb3682ae7/src/main/java/fiji/plugin/trackmate/io/TmXmlWriter.java#L717

Discussed here: https://forum.image.sc/t/updating-trackmate-multichannel-measurement-script-

[2022-01-10 10:35] tinevez commented on #206
Added a safeguard here: 520aff9cf47ef6dfd047833bb6f5d7701fd8ce42

[2022-01-10 10:35] #206 closed

[2022-01-12 15:02] wolfgangkeil commented on #205
Dear Jean-Ives,

I was out of office for a while over the break and only got back to some coding now, so apologies for the lack of feedback on your kind reply.
For some reason, now Trackmate works smoothly, when I launch Fiji through Matlab, without me changing anything, so I guess your mere presence scared the crap out of TrackMate and it decided to cooperate. ;-)

One more completely unrelated q

[2022-01-12 15:22] tinevez commented on #205
Hello @wolfgangkeil

Aha :) thank you for the 'mere presence' perk :)

No TrackMate does not do 3D ROI. The 3D support would be a huge endeavour as Fiji is not really meant for this, and we are tightly coupled to Fiji. Maybe later? Maybe with Mastodon?

[2022-01-12 15:22] #205 closed

[2022-01-14 16:18] phisanti opened #207 "Broken script after update"
I have been writing scripts with `TrackMate `for a while. However, since the last update (I believe around October) the script has stopped working. The script is relatively simple aiming to iterate over images on a folder and track different bacteria using a reference channel. Here is the code:

[code]

The problem is that now it says that some modules do not exist anymore. These are:

[code]

In

[2022-01-17 13:57] tinevez commented on #207
Fixed here:
https://forum.image.sc/t/script-broken-with-latest-trackmate-update/61962/6?u=tinevez

[2022-01-17 13:57] #207 closed

[2022-01-31 07:47] quantixed opened #208 "Typo in TrackMate XML attribute name"
This is _really_ minor but there is a typo in the attribute names `feature` and `name` within `TrackFeatures` tag.

[code]

The same typo is therefore also in each `Track` tag.

[2022-01-31 13:51] tinevez commented on #208
Thanks!
I will try to come up with a fix that does not break everything....

[2022-01-31 13:54] Mini-Miette opened #209 "Typo in edges .csv"
There's a small typo when exporting the edges .csv. It's in the last column header:
MANUAL_EGE_COLOR instead of MANUAL_EDGE_COLOR

[2022-01-31 15:20] #208 closed

[2022-02-25 09:17] tinevez commented on #203
Fixed in https://github.com/fiji/TrackMate/commit/df9d401be4d0d5b3c1b243f21af0606c49d45099

[2022-02-25 09:17] #203 closed

[2022-02-27 11:32] kapoorlab opened #211 "Trackmate does not open from eclipse"
Hello, I cloned the latest version of Trackmate and tried to launch Trackmate from Eclipse

(
Eclipse IDE for Java Developers (includes Incubating components)
Version: 2021-12 (4.22.0)
Build id: 20211202-1639)
), Java SE 1.8
and I am unable to do so and get this error:

`Exception in thread "main" java.lang.reflect.InaccessibleObjectException: Unable to make field private java.util.Hashtable java.

[2022-02-27 22:14] tinevez commented on #211
This is the Eclipse version with which I develop TrackMate.
Can I see the full log? Apparently it crashes because it does not manage to serialize the display settings via GSon.
Did you clone the repo without any modification?

[2022-02-28 02:56] kapoorlab commented on #211
Yeah I just cloned the repo and tried to run it with an image, it opens the image asks me to swap Z and T and then this shows up:

`Could not read the last used settings file at C:\Users\rando\.trackmate\lastusedsettings.xml.
Using built-in defaults.
log4j:WARN No appenders could be found for logger (org.bushe.swing.event.EventService).
log4j:WARN Please initialize the log4j system properly.
log4j

[2022-02-28 08:51] tinevez commented on #211
Sorry I cannot reproduce.

From the trace it seems that GSon has a hard time serializing something related to AWT, probably the font in the display settings (line 110 in the `DisplaySettings` class).

Here are a few hints:

- Check that you are using Java JDK 8 in Eclipse.
- What happens if you run maven in the repo?
- If it compiles, what happens if you drop the SNAPSHOT jar into Fiji?
- Finally

[2022-02-28 13:05] kapoorlab commented on #211
Yes, the problem was using jre instead of jdk in Eclipse. In Fiji the snapshot jar worked fine as well. Thanks.

[2022-02-28 13:05] #211 closed

[2022-03-10 09:55] xlaub opened #212 "TrackMate session doesn't open .tif image sequence"
Hello!

I am using TrackMate to track single particles. I use mainly the manual tracking by selecting the first particle in the first image via TrackMate Tools and let it find the next particles in the next images.

(By the way the TrackMate Tools GUI is often not reacting. It often doesn't create a spot by pressing A and sometimes it doesn't increase the size by pressing E or Shift + E. Also when

[2022-03-10 12:34] tinevez commented on #212
Hello @xlaub

Generally this happens when TrackMate is launched on an image **that has not yet been saved**.
If you try to save the image as ImageJ TIF before launching TrackMate, does this still happen?

[2022-03-10 13:11] xlaub commented on #212
Hi!
So you suggest to save via File -> Save as -> Tiff, and use that file to make the tracking?

Would you recommend to change the image properties (Ctrl+Shift+P) before saving as well? That would be swapping Z and T (which I am being asked for, when TrackMate is started) and setting the frame rate and pixel width?

Could you explain why the order would matter?

Thanks!

[2022-03-10 13:23] tinevez commented on #212
Yes! With this TrackMate will be able to grab the link to the file it tracks, and save it along the tracks. Then, when you re-open the TrackMate file, it will open the image as well.

Yes absolutely. So that you never have to it again after.

[2022-03-15 12:24] xlaub commented on #212
Hello!

Thanks, that way it works well. Nevertheless, it is not optimal, because if you want to keep the raw data, the amount of data to be saved is doubled that way. Would be nice to be able to open the raw data directly. Maybe the issue is, that Trackmate opens the image series as a z-stack?

Anyway, I’m grateful that it works now. :)

But I have another problem:
I try to track multiple single p

[2022-03-15 15:26] ptbrown1729 opened #213 "Add option to export tracks overlayed on max-z projection for 3D time series data"
Posting this here based on my [question ](https://forum.image.sc/t/export-trackmate-tracks-on-max-z-projection-for-3d-time-series-data/64487/3) on image.sc. This seems like it could be a useful enhancement, but I don't know how much interest there would be in such an option.

I have a time series of 3D images with particles that I have localized using TrackMate. Now I would like to export the over

[2022-03-15 15:35] ptbrown1729 commented on #213
Presumably this can be achieved by editing a few lines in `CaptureOverlayAction.java`

[2022-03-16 08:51] tinevez commented on #212
Hello. What about having the raw data with the right metadata?

[2022-03-16 09:25] xlaub commented on #212
Since the raw data are single .tiff images, the raw data doesn't tell what kind of stack it should be right? Isn't the session.xml responsible for opening the single tiff files as a t-stack instead of a z-stack? When the session is saved from a series of tiff files, the .xml points to filename="", which should open all files in the folder right? but that doesn't always work. If a single combined t

[2022-03-16 09:37] tinevez commented on #212
Ok so I suggest to resave it as a ImageJ TIF file, with the dimensionality and basic metadata (pixel size) properly set (in _Image > Properties_).
This new file could **replace** the raw data because it will match it pixel by pixel.

[2022-03-16 17:13] xlaub commented on #212
Okay, thank you very much! I think I can live with that :)
I will open another thread for my other question.

[2022-03-16 17:13] #212 closed

[2022-03-16 17:20] xlaub opened #214 "Tracking only a selection of particles"
Hello there!

Is there a way to obtain tracks from a manually chosen selection of spots?

I try to track multiple single particles in a huge image series. I first tried spot selection via manual annotation and tracking via TrackMate Tools. But it only lets me find tracks for one particle at a time. So when there are two particles close by, the tracks can jump from one particle to another.
So I tri

[2022-03-16 21:37] tinevez commented on #214
Hello.

Unfortunately not right now. But Mastodon does this kind of things, and very well, in combination with a selection creator:
https://github.com/mastodon-sc/mastodon

[2022-03-18 08:20] #214 closed

[2022-03-22 18:52] WilbertCYC opened #215 "XML files not exported properly"
I've been running TrackMate on a Macbook for 2D cell tracking for the past month. I noticed that when I track the cells with "Manual tracking with TrackMate, the exported XML file become weird - when opened with Excel, there are more columns than a normal tracking XML file. Specifically, three columns appeared: "/particle/detection/@x/#agg", "/particle/detection/@y/#agg", and "/particle/detection/

[2022-03-23 08:35] tinevez commented on #215
Hello @WilbertCYC

This is the XML you get when you export to the simple XML file format. They just have X, Y, Z and T.

**XML files are not meant to and cannot be opened in Excel**.

Can you tell me what you use to import them into MATLAB? What is the command you use?

[2022-03-24 18:54] WilbertCYC commented on #215
I imported the XML to MATLAB according to the methods described in the trackmate-manual.pdf. The commands I used was ”importTrackMateTracks”. As stated in the issue, the XML files exported from TrackMate are not consistent in format. "_Track.xml" includes all the x,y position information (256 tracks, 30 frames in maximum), whereas "test.xml", which I tracked manually with "Manual tracking with Tra

[2022-03-25 14:09] tinevez commented on #215
Ok I found why the import fails:

[code]

In the `<particle>` you have `nSpots=48` so MATLAB expects to find 48 detections.
But there is only one so it crashes.

The question is how what happened when we generates the faulty XML....

[2022-03-25 18:36] WilbertCYC commented on #215
Yes. This happens most of the time for manual tracking, or when the automatically detected tracks are manually corrected. I've tried updating from v6.0.1. to 7.6.1., as well as uninstall/re-install FIJI, but the issue remains unresolved.

[2022-04-06 13:07] EdwinHernandezG opened #216 "16 bit labeled output when they are more than 65535 labels"
Will it be feasible to change the output to 32-bit from a labeled image when more than 65535 labels are detected?

[2022-04-20 09:01] wolfgangkeil opened #217 "LoG Detector filter setting used, even though spot manual annotation selected"
Dear TrackMate Team,

We are using the Trackmate Plugin for several things, some of which allow for automated spot detection and some require manual annotation (not on the same files).

Recently, we've been encountering an issue during manual annotation. After finishing the annotation, and clicking next, all dots disappeared on the image viewer (even though no filters are added). When we continued

[2022-04-22 19:59] christian-7 commented on #215
Hello,
I keep having the same problem. Mac or windows with the newest version of TrackMate. I used an automatic tracker with no filtering but can't import the XML into matlab.
Any ideas of how this can be solved?
Thanks.

[2022-05-12 12:00] kapoorlab opened #219 "Track display reset after action"
Hello, I have a trackmate action that corrects the tracks and sets the new graph on the model which does get updated in the trackscheme but the display setting of drawing the track overlay on the hyperstack throws this error:

`Exception in thread "AWT-EventQueue-0" java.util.ConcurrentModificationException at java.util.HashMap$HashIterator.nextNode(HashMap.java:1445) at java.util.HashMap$ValueIte

[2022-05-13 12:11] tinevez opened #220 "Investigate gaussian fitter."
Sometimes it fails on noisy images with a strong background.
Can we make it more robust against these case? Or make it able to report it failed?

[2022-05-20 13:00] kapoorlab commented on #219
This only occurs to me if I have track display on while running the extension. If I turn the track display off then I am able to avoid this error.

[2022-05-20 13:51] kapoorlab opened #221 "TrackMate Helper: Comparing two algorithms for tracking"
Hello,

Thank you for making the TrackMate CTC helper. I went through it and it seems that currently there is not an option to compare two automated algorithms versus the GT data, it only allows performing the tracking and then comparing it with GT. I however have a use case where I have tracking results exported in the CTC format as Results that I need to compare with the GT. I am currently using

[2022-05-20 16:35] tinevez commented on #221
Hello Varun,

In this case it is best directly using the CTC Fiji plugin. You can completely bypass TrackMate.
The TM-Helper is mainly a way to optimize tracking parameters for trackers inside TrackMate.

[2022-05-20 16:35] #221 closed

[2022-05-21 17:54] kapoorlab commented on #219
The issue is not gone, I have uploaded the Copenhagen challenge dataset that includes the oneat detections in a csv file titled CleanDetections, if you use that with the TrackMate-oneat action it will throw the concurrent modification error as above, that disallows me to select a spot in the hyperstack displayer by not making it turn green. https://zenodo.org/record/6569672#.YoknIXZBxEY

[2022-06-07 19:41] tinevez commented on #215
This is being fixed:
https://github.com/fiji/TrackMate/commit/bfb7271cd7b054b1fbdbcfa90dcc81e32ad38fd7

With the next release (v7.7.x), this will be merged and the new script won't have this issue.

[2022-06-07 19:41] #215 closed

[2022-06-07 19:41] tinevez commented on #201
Check #223 that implements just that.

[2022-06-07 19:41] #201 closed

[2022-06-07 19:43] tinevez commented on #204
Hello @elfring
I don't know what this could bring. Could you ellaborate?

[2022-06-08 11:50] tischi opened #225 "Export label image with spot IDs"
@tinevez

Working on https://forum.image.sc/t/trackmate-dealing-with-masks/68004

I guess this needs updating?

[code]

Because in the case of masks they are not painted as ellipsoids but as the actual masks?

[2022-06-08 11:52] tischi commented on #225
Second question: In your repo is that some "run" method that launches ImageJ such that I could test what I am developing? Even better would be some script that already does some tracking such that I immediately end up at the export UI. Or how would you do this (i.e. develop such a new feature)?

[2022-06-08 11:59] tischi commented on #225
Third question: Should I develop against `master` or some other branch?

[2022-06-08 12:30] tischi commented on #225
Fourth question:

<img width="442" alt="image" src="https://user-images.githubusercontent.com/2157566/172616470-326c342a-97c9-42e5-9a4b-eb676878ff42.png">

Should we add a checkbox here:

`[ ] Use spot IDs as labels`

[2022-06-08 18:15] elfring commented on #204
:thought_balloon: I suggest to take another look at consequences according to [the following information from the Java language specification](https://docs.oracle.com/javase/specs/jls/se18/html/jls-15.html#jls-15.26.2 "Description for compound assignment operators").

“…
A compound assignment expression of the form `E1 op= E2` is equivalent to `E1 = (T) ((E1) op (E2))`, where `T` is the type of `E

[2022-06-10 12:23] tinevez commented on #225
Fixed with https://github.com/fiji/TrackMate/commit/e13e6198437f3aec3d70270485a0c27e6b4b12f2

[2022-06-10 12:23] #225 closed

[2022-06-17 08:09] tinevez opened #227 "JGraphX is end-of-life"
The library on which we depend to paint the TrackScheme windows is end-of-life:
https://github.com/jgraph/jgraphx

This is not necessarily a problem if there are no security issues or if we are happy with the current features, but we might investigate other alternatives. Maybe retrofit the mastodon trackscheme?

[2022-07-07 19:52] tinevez opened #228 "LoG and DoG detector crash with ROIs that are close to the image boundaries."
the LoG detector crashes when the ROI has limits that are close to the image border or beyond the image border. The DoG detector has the bug too.

Reported here:
https://forum.image.sc/t/trackmate-detection-failed/69236/5

[2022-07-18 12:03] tinevez commented on #228
Fixed in
61e7e678afdcce898ae8204c0af96ae29dade9f8
and
d3e4053af10c583530a6053752447a00de135abf

[2022-07-18 12:03] #228 closed

[2022-08-31 00:44] pipecedeno opened #230 "Loading saved XML file from trackmate cannot recreate the same tracking as the"
Hello,

Currently I'm doing the tracking of some multicellular yeasts growing, and I'm using a trained model of cellpose as the detector for trackmate, and then for the tracking I use the LAP tracker that is integrated in trackmate, and the first time I use the model everything goes smooth and works perfectly, but if I saved the progress to an XML file using the save bottom of the trackmate window

[2022-08-31 18:13] pipecedeno commented on #230
Hello,

I did more testing to see what is failing, and I noticed that the display of the spots is what is failing, as I tried changing all the settings so that it doesn't display the detected spots as ROIs, or that it do not even display the spots, but after loading the XML file the spots that should display are no longer working, so the error must be on the spots that are being detected by cellpo

[2022-09-01 15:49] pipecedeno commented on #230
Hello,

Today I finally solved the issue.
The problem was that each time I opened trackmate I got prompted this message:
![Screenshot from 2022-09-01 11-39-20](https://user-images.githubusercontent.com/72110970/187956867-cea76c10-21b4-44ae-a134-08aa7556645d.png)
And I just pressed YES and trackmate worked without problem, but because I never saved that option to the original file once I tried to r

[2022-09-01 15:49] #230 closed

[2022-09-02 16:06] emmanuel-contreras opened #231 "How to Identify subtracks in tracking CSV"
First of all thank you for the fantastic software! We are working on time lapse images of HeLa/143B cells to quantify their metabolism in mitosis. I have been trying out trackmate and it has worked well so far but I've run into a issue you may have some insight into.

The issue I am running into is during a splitting event, I'm having trouble figuring out how to match the spot on the subtracks giv

[2022-09-04 10:34] tinevez commented on #231
Thanks for the kind words!
I am not sure of a way yet, but what about discussing this on the https://forum.image.sc ?
The discussion could be beneficial to others.

[2022-09-04 10:34] #231 closed

[2022-09-23 20:32] tinevez opened #232 "Make TrackMate UI plays nicely with the new FlatLAF"
The new Fiji version now ships the FlatLAF, which is made to work well with high-resolution display and is very nice.
So far, TrackMate assumed it would be displayed only using the System LAF.

The UI code should be changed to accommodate different LAF. In particular:
- TrackMate should not force the LAF to become the System LAF when starting.
- the TrackMate UI does not look very good when using

[2022-10-04 20:07] #232 closed

[2022-10-05 13:43] tferr opened #233 "Font too small on HiDPI screens"
@tinevez , just noticed that trackmate has unreadable fonts on a 4K display on Linux. Here is a comparison to a regular scijava command prompt:

![image](https://user-images.githubusercontent.com/2439948/194074550-046acf4d-da5e-405d-8f51-c2e81efd5647.png)

I guess the issue is hardwired here:

https://github.com/trackmate-sc/TrackMate/blob/2f1f9fed0a5bad2ebefb06372801d653d0864b61/src/main/java/fij

[2022-10-05 15:44] tinevez commented on #233
My main issue is that I do not have a 4k screen to debug yet.

[2022-10-10 02:47] tferr commented on #233
If nobody else complains, then it is probably not urgent :smile: . If it becomes an issue, ping me and I can try to help on my setup.

[2022-10-13 14:44] JonathanCSmith opened #235 "LabeImageDetectorFactory should be LabelImageDetectorFactory"
Typo in this detector factory - quick scan seems correct, but due to fonts, the 'L' is actually an 'I'. This threw me for a loop when trying to diagnose an import issue.

[2022-10-14 07:08] tinevez commented on #235
I know of it, my shame.
I am delaying fixing it because it will break other modules and many scripts.
But anyway the next update will include a refactoring of the tracking part, and will  be breaking changes. So I will fix it then.

[2022-10-14 09:08] JonathanCSmith opened #236 "ExportToCSV"
I may be missing something but is there a way to export to csv from a jython script? The XML doesn't seem to have parity in terms of the columns with the csv exported by an interactive user...

[2022-11-18 09:24] 15bonte opened #238 "Intersection Over Union (IoU) as feature penalty"
I was wondering if it was possible to add IoU as a feature penalty for the LAP tracker. Indeed, when working with cellpose and cells that do not really change between frames, it makes sense to consider the overlap between cells of consecutive frames.

Would it be something easy to add?

[2022-11-18 14:06] #235 closed, assigned to tinevez